.new_tech_bl {
    max-width: 992px;
    margin: 0 auto;
}

.col-lg-6.new_tech_block:first-child {
    padding: 0 10px 0 0;
}
.disabledNav{
    opacity: 1;
}
swiper-button-prev41{
    position: absolute;
}
.swiper-button-disabled{
    cursor: pointer!important;
    opacity:0.35!important;
    pointer-events: visible!important;

}
section.new_tech {
    padding: 6px 0 0 0;
}
.new_tech_block_img {
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
}

.new_tech_block_img img {
    width: 100%;
}

.col-lg-6.new_tech_block:last-child {
    padding: 25px 0 0px 11px;
}

.col-lg-6.new_tech_block p {
    font-family: FuturaDemiC;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 18px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}

.col-lg-6.new_tech_block span {
    font-family: FuturaPTBook;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    display: block;
    line-height: 22px;
    letter-spacing: normal;
    color: #2b2b2b;
}

.about-text-block {
    max-width: 793px;
    margin: 0 auto;
}

.about-text-block>h2 {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 39px;
    color: #2b2b2b;
}

section.about-text {
    margin-top: 62px;
    margin-bottom: 62px;
}

.about-text-item {
    border-radius: 16px;
    background-color: #f0f4f5;
    padding: 16px 0 0 52px;
    margin-bottom: 15px;
}

.about-text-head span {
    font-family: FuturaDemiC;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    display: block;
    line-height: normal;
    letter-spacing: normal;
    position: relative;
    color: #2b2b2b;
}

.about-text-head span:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-right: 3px solid #29b3bc;
    border-top: 3px solid #29b3bc;
    transform: rotate(135deg);
    left: 0;
    position: absolute;
    margin-top: 5px;
    margin-left: -29px;
}

.about-text-body span {
    font-family: FuturaPTBook;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    display: block;
    color: #2b2b2b;
}

.about-text-img a {
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    overflow: hidden;
    float: left;
    width: 160px;
    margin-right: 10px;
}

.about-text-img img {
    width: 100%;
}

.about-text-img:after {content: "";display: block;clear: both;}

.about-text-img div:last-child {
    margin-right: 0 !important;
}

.sertifikat-gallery-block {
    position: relative;
}

.about-text-head {
    padding: 0 0 20px 0;
    cursor: pointer;
}

.about-text-body {
    padding: 0px 0 30px 0;
    margin-top: -5px;
    display: none;
}

.about-text-img {
    margin-top: 15px;
}

p.sertifikat-gallery-p {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 32px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}

section.sertifikat-gallery {
    margin-top: 52px;
    padding-top: 65px;
    padding-bottom: 70px;
    background-color: #f0f4f5;
}

.sertifikat-gallery-block .swiper-button-prev, .sertifikat-gallery-block .swiper-button-next{
    top: 38%;
}


.about-text-head.actv span:before {
    transform: rotate(-45deg);
}

.about-text-body.actv {
    display:block !important;
}
.services-sub-gallery-block .swiper-button-next, .services-sub-gallery-block .swiper-button-prev {
    top: 46.5% !important;
}