section.ceo2 {
    background: #f0f4f5;
    margin-top: 70px;
    padding-top: 65px;
    padding-bottom: 37px;
}

.ceo2-block {
    max-width: 793px;
    margin: 0 auto;
}

.ceo2-h3 {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
    margin-bottom: 8px;
}

span.ceo2-text {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    margin-bottom: 20px;
    display: block;
    color: #2b2b2b;
    font-family: "FuturaPTBook";
}


.ceo2-items {
    margin-bottom: 37px;
}

p.ceo2-head {
    font-family: FuturaDemiC;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 7px;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}

p.ceo2-head2 {
    font-family: FuturaDemiC;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-top: 14px;
    line-height: normal;
    margin-bottom: 7px;
    letter-spacing: normal;
    color: #2b2b2b;
}

span.ceo2-text2 {
    font-size: 18px;
    margin-bottom: 18px;
    position: relative;
    font-weight: normal;
    display: block;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    font-family: "FuturaPTBook";
    letter-spacing: normal;
    color: #2b2b2b;
    padding-left: 22px;
}

span.ceo2-text2>span {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #29b3bc;
    top: 7px;
    border-radius: 20px;
    left: 0px;
}
p.ceo2-head3 {
    font-family: FuturaDemiC;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    padding-left: 22px;
    margin-bottom: 27px;
    position: relative;
    margin-top: -6px;
    letter-spacing: normal;
    color: #2b2b2b;
}

p.ceo2-head3 span:first-child {
    position: absolute;
    color: #29b3bc;
    left: 0px;
}