section.comment {
    margin-top: 63px;
}
.comment-head {
    font-family: FuturaDemiC;
    font-size: 36px;
    text-align: center;
    color: #2b2b2b;
    margin-bottom: 32px;
}

.comment-block {
    border-radius: 16px;
    background-color: #f0f4f5;
    padding: 14px 26px 20px 30px;
    margin-bottom: 7px;
}

p.comment-block-p {
    font-family: FuturaDemiC;
    font-size: 24px;
    color: #2b2b2b;
    margin-bottom: 1px;
}

span.comment-block-span {
    font-family: "FuturaPTBook";
    font-size: 18px;
    font-weight: 100 !important;
    color: #2b2b2b;
    line-height: 0;
}

.comment-autor {
    margin-top: 8px;
}

.autor-n {
    opacity: 0.7;
    font-family: FuturaDemiC;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    display: inline-block;
    float: left;
}

.comment-date {
    display: inline-block;
    margin: -3px -2px 0px 0px;
    float: right;
}

.comment-autor:after {content: "";display: block;clear: both;}

span.comment-d {
    opacity: 0.7;
    font-family: "FuturaPTBook";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    margin-right: 20px;
}

.doc-callback {
    margin-top: 20px;
    padding-left: 30px;
}

.doc-callback img {
    float: left;
    margin-right: 15px;
}

.doc-callback p {
    opacity: 0.7;
    font-family: FuturaDemiC;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 32px 0 0px 0;
    transition: all 0.3s ease;
    cursor:pointer;
}
.doc-callback p:hover {
    color: #29b3bc;
    transition: all 0.3s ease;
}
.doc-callback span {
    font-family: "FuturaPTBook";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}
.comment-btn {
    text-align: center;
    margin-top: 58px;
}
.comment-btn button{
  width: 193px;
  letter-spacing: 0.05em;
  height: 54px;
  text-transform: uppercase;
  border-radius: 27px;
  border: solid 2px #ff4c72;
  font-size: 16px;
  font-family: FuturaDemiC;
  line-height: 54px;
}
.comment-btn1{
  background-color: #ff4c72;
  color: #ffffff;
  transition: all 0.3s ease;
}
.comment-btn2 {
  color: #ff4c72;
  background-color:  #ffffff;
  position: relative;
  transition: all 0.3s ease;
}
.comment-btn2:after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid #ff4c72;
    border-top: 2px solid #ff4c72;
    transform: rotate(135deg);
    position: absolute;
    margin-top: 20px;
    margin-left: 8px;
}
.comment-btn1:hover {
    border-color: #ff2f5b;
    background: #ff2f5b;
    transition: all 0.3s ease;
}

.comment-btn2:hover {
    color: #ff2f5b;
    border-color: #ff2f5b;
    transition: all 0.3s ease;
}
.comment-slider .swiper-button-next{
    top: 39px;
    right: -8px;
}
.comment-slider .swiper-button-prev{
    top: 39px;
    left: -8px;
}

.comment-slider {
    position: relative;
    margin: 9px 0 14px 0;
}
.doc-callback>img {
    width: 50px;
}
button.mob_all_btn {
    font-family: FuturaDemiC;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #29B3BC;
    background: transparent;
    border: none !important;
    display: none;
    position: relative;
    padding-right: 15px;
    position: absolute;
    bottom: 0;
    background: #f0f4f5;
    width: 100%;
    text-align: left;
    box-shadow: -1px 0px 12px 14px #f0f4f5;
}

button.mob_all_btn:after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid #29B3BC;
    border-top: 2px solid #29B3BC;
    transform: rotate(135deg);
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    transition: all 0.3s ease;
    top: -9px;
}
button.mob_all_btn.active_all {
    box-shadow: none !important;
}
button.mob_all_btn.active_all:after {
    transform: rotate(-45deg) !important;
    top: -5px !important;
}

@media(max-width:767px){
span.comment-block-span.mob_all.active_all {
    max-height: inherit !important;
    padding-bottom: 20px !important;
}
span.comment-block-span.mob_all {
    max-height: 100px;
    display: block;
    overflow: hidden;
    line-height: 20px;
    position: relative;
}
   button.mob_all_btn {
    display: block;
}
  .comment-btn1 {
    margin-bottom: 10px;
  }
 .comment-slider .swiper-button-prev, .comment-slider .swiper-button-next{
   display:none;
    
  }
  .doc-callback {
    padding: 0 !important;
}
.doc-callback > img {
    display: block;
    margin-bottom: 30px;
}
}
@media(max-width:500px){
button.comment-btn2 {
    margin-bottom: 10px;
}
button.comment-btn1:first-child {
    display: none;
}
button.comment-btn1:last-child {
    display: initial !important;
}
}
button.comment-btn1:last-child {
    display: none;
}
.rew-btn button {
    width: 193px;
    letter-spacing: 0.05em;
    height: 54px;
    text-transform: uppercase;
    border-radius: 27px;
    border: solid 2px #ff4c72;
    font-size: 16px;
    font-family: FuturaDemiC;
    background-color: rgb(255, 76, 114);
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    line-height: 51px;
}

.rew-btn {
    text-align: center;
    margin-top: 33px;
}
