section.doc_public {
    padding-top: 63px;
}
.public-items div {
    margin-bottom: 15px;
}

.public-items {
    margin-bottom: 62px;
}
.slide_block {
    position: relative;
}

p.public-items-head {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}

.public-block {
    max-width: 589px;
    margin: 0 auto;
}

.public-a {
    font-family: FuturaDemiC;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    display: block;
    text-decoration: none !important;
    letter-spacing: normal;
    color: #29b3bc;
    margin-bottom: -4px;
}

span.public-date {
    opacity: 0.7;
    font-family: FuturaPTBook;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    margin-right: 15px;
}

span.public-name {
    opacity: 0.7;
    font-family: FuturaDemiC;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}