.kurs-head {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
    margin-bottom: 29px;
}

section.kurs {
    padding-top: 66px;
}

.kurs-block-text.col-lg-6 {
    padding: 0 0 0 12px;
}

p.kurs-block-head {
    font-family: FuturaDemiC;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 27px;
    letter-spacing: normal;
    color: #2b2b2b;
    margin-bottom: 20px;
    max-width: 370px;
}

.row.kurs-row2 {
    padding-top: 54px;
}

.kurs-block {
    padding: 85px 0 0 0;
}

.kurs-block span {
    opacity: 0.7;
    font-size: 18px;
    font-family: "FuturaPTBook";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    display: block;
    margin-bottom: 17px;
}
.kurs-video {
    padding: 0 0 0 10px;
    overflow: hidden;
}

.kurs-video div img {
    width: 100%;
}

.kurs-video div {
    border-radius: 20px;
    margin-top: 3px;
}