.col-md-6.portfolio-block:first-child {
    padding: 0 10px 0 0;
}

.portfolio-block:first-child img {
    width: 100%;
}

.portfolio-keys p {
    opacity: 0.45;
    font-family: FuturaDemiC;
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 6px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.67px;
    text-transform: uppercase;
    color: #000000;
}

.portfolio-keys:first-child a {
    font-family: FuturaDemiC;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 10px;
    line-height: 18px;
    letter-spacing: normal;
    display: block;
    color: #29b3bc;
    transition: all 0.3s ease;
    text-decoration: none !important;
}
.portfolio-keys:first-child a:hover {
    color: #09d9e7;
    transition: all 0.3s ease;
}
.portfolio-keys:last-child>span {
    font-family: FuturaDemiC;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 5px;
    color: #565656;
    display: block;
}

.portfolio-keys:first-child {
    padding-right: 10px;
    width: 70%;
}

.portfolio-head {
  font-family: FuturaDemiC;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  margin-bottom: 11px;
  line-height: 27px;
  letter-spacing: normal;
  color: #2b2b2b;
  text-decoration: none !important;
  transition: all 0.3s ease;
}
.portfolio-head:hover {
    color: #09d9e7;
    transition: all 0.3s ease;
}
.portfolio-span {
    opacity: 0.7;
    font-family: FuturaPTBook;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    display: block;
    line-height: 22px;
    letter-spacing: normal;
    color: #000000;
}

.portfolio-doc img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;
}

.portfolio-doc p {
    opacity: 0.45;
    font-family: FuturaDemiC;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.67px;
    color: #000000;
    margin-bottom: 7px;
    /* margin-top: 5px; */
    position: relative;
    top: 8px;
}

.portfolio-doc a {
    opacity: 0.7;
    font-family: FuturaDemiC;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    transition: all 0.3s ease;
    text-decoration: none !important;
}
.portfolio-doc a:hover {
    color: #09d9e7;
    transition: all 0.3s ease;
}
.portfolio-btn {
    transition: all 0.3s ease;
    width: 108px;
    height: 32px;
    border-radius: 16px;
    background-color: #ff4c72;
    display: block;
    justify-content: center;
    text-align: center;
    text-decoration: none !important;
    margin-top: 20px;
}
.portfolio-btn:hover {
    background: #ff2f5b;
    transition: all 0.3s ease;
}
.portfolio-btn span {
    font-family: FuturaDemiC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 33px;
    letter-spacing: normal;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
}

.col-md-6.portfolio-block>div:first-child {
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.portfolio-keys:last-child {
    padding-left: 2px;
}

.portfolio-keys:last-child>span .circel_m {
    margin-left: 5px;
}

.col-md-6.portfolio-block:last-child {
    padding: 9px 0 0 11px;
}

.portfolio-doc {
    margin-top: 27px;
}

.portfolio-doc:after {content: "";display: block;clear: both;}
@media(max-width:768px){
    .navigation-block {
    margin-top: 70px;
}

}