.qa-l { 
    width: 130px;
    height: 32px;
    border-radius: 16px;
    background-color: #ff4c72;
    display: block;
    margin-bottom: 42px;
    text-decoration: none !important;
    margin-top: -74px;
    text-align: center;
    transition: all 0.3s ease;
}
.qa-l:hover {
    background: #ff2f5b;   
    transition: all 0.3s ease;
}


a.qa-l span {
    font-family: FuturaDemiC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 34px;
    display: block;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.qa-nav p {
    opacity: 0.45;
    margin-bottom: 14px;
    font-family: FuturaDemiC;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.67px;
    color: #000000;
    text-transform: uppercase;
}

section.qa {
    margin-top: -36px;
}

.qa-block {
    max-width: 793px;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: solid 1px #dddddd;
    margin-bottom: 25px;
}

.qa-question p {
    font-family: FuturaDemiC;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 9px;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}

.qa-body {
    padding-top: 30px;
}

span.qa-txt {
    opacity: 0.7;
    font-family: FuturaPTBook;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 5px;
    line-height: 22px;
    display: block;
    letter-spacing: normal;
    color: #000000;
}

span.qa-date {
    opacity: 0.7;
    font-family: FuturaPTBook;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-left: 2px;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
}

span.qa-autor {
    opacity: 0.7;
    font-family: FuturaDemiC;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-left: 14px;
    color: #000000;
}

.qa-answer p {
    opacity: 0.45;
    font-family: FuturaDemiC;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.67px;
    text-transform: uppercase;
    margin-bottom: 9px;
    color: #000000;
}

.qa-answer {
    margin-top: 26px;
}

.qa-doc1 img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 16px;
}

.qa-doc {
    margin-top: 10px;
}



.qa-doc1 span:nth-child(2) {opacity: 0.45;font-family: FuturaDemiC;font-size: 10px;font-weight: normal;margin-top: 8px;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: 1.67px;display: block;text-transform: uppercase;color: #000000;}

.doc-nameq1 {
    opacity: 0.7;
    font-family: FuturaDemiC;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    display: block;
    text-decoration: none !important;
    transition: all 0.3s ease;
}
.doc-nameq1:hover {
    color: #29b3bc;
    transition: all 0.3s ease;
}
.qa-doc1 {
    padding: 0;
}

.qa-doc2 {
    text-align: right;
    padding: 0;
}

.qa-doc2 span {
    opacity: 0.7;
    font-family: FuturaPTBook;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    display: block;
    margin-top: 11px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
}
p.clinic-block-head.qa-page {
    max-width: 550px;
    line-height: 38px;
    margin-bottom: 75px;
    padding-top: 4px;
}

.qa-page-question {
    max-width: 793px;
    margin: 0 auto;
    margin-bottom: 61px;
}

.qa-question-head {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    margin-bottom: 34px;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}

p.qa-page-p {
    font-family: FuturaDemiC;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 7px;
    color: #2b2b2b;
}

.qa-page-question>span {
    opacity: 0.7;
    font-family: FuturaPTBook;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    margin-bottom: 0;
    display: block;
    letter-spacing: normal;
    color: #000000;
}

.qa2 {
    margin-top: -2px;
}

.qa-page-answer {
    max-width: 793px;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    padding: 0 0 20px 0;
    margin-bottom: 19px;
}

.qa-answer-head {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 60px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}

.qa-doc-img > div:first-child {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 18px;
    border-radius: 100px;
}

.qa-doc-img >div img {
    width: 100%;
}

span.qa-callback {
    opacity: 0.7;
    font-family: FuturaPTBook;
    font-size: 16px;
    font-weight: normal;
    margin-top: -4px;
    text-align: center;
    display: block;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.qa-doc-info-p {
    font-family: FuturaDemiC;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 4px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
    text-decoration: none !important;
    transition: all 0.3s ease;
}
.qa-doc-info-p:hover {
    color: #29b3bc;
    transition: all 0.3s ease;
}
span.qa-doc-info-span {
    display: block;
    opacity: 0.7;
    font-family: FuturaPTBook;
    font-size: 16px;
    margin-bottom: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

p.qa-doc-info-block-p {
    opacity: 0.45;
    font-family: FuturaDemiC;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 5px;
    font-stretch: normal;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 1.67px;
    color: #000000;
}

span.qa-doc-info-block-span {
    opacity: 0.7;
    font-family: FuturaPTBook;
    font-size: 16px;
    font-weight: normal;
    display: block;
    font-style: normal;
    font-stretch: normal;
    line-height: 19px;
    letter-spacing: normal;
    color: #000000;
}

.qa-doc-info {
    padding: 2px 0px 0 18px;
}

.qa-doc-info-block:last-child {
    padding: 0 0 0 4px !important;
}
.qa-doc-info-block {
    padding: 0;
}

.qa-doc-img {
    padding: 0 0 0 20px;
}

.qa-doc-address a {
    width: 175px;
    height: 32px;
    border-radius: 16px;
    background-color: #ff4c72;
    display: block;
    text-align: center;
    margin: 0 0 0 auto;
    margin-bottom: 41px;
    text-decoration: none !important;
    transition: all 0.3s ease;
}
.qa-doc-address a:hover {
    background: #ff2f5b;
    transition: all 0.3s ease;
}

.qa-doc-address {
    padding-top: 3px;
    padding: 0px;
}

.qa-doc-address a span {
    font-family: FuturaDemiC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 34px;
    display: block;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.qa-page-txt {
    max-width: 793px;
    margin: 0 auto;
}

.qa-page-txt span {
    display: block;
    opacity: 0.7;
    font-family: FuturaPTBook;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 17px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}


section.video-answer p {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}

section.video-answer {
    margin-top: 54px;
}

.video-answer-block {
    max-width: 793px;
    margin: 0 auto;
    position: relative;
}

.video-answer-block div {
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: #f8f8f8;
    overflow: hidden;
    position: relative;
}

.video-answer-block div img {
    width: 100%;
}
.qa-body>p {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 33px;
    margin-top: 73px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}
@media(max-width:575px){
.qa-doc2 {
    text-align: left;
}
.qa-doc2 span {
    text-align: left !important;
}
.pagination-block a {
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 19px;
}
}
.pagination-block {
    width: auto !important;
    max-width: 793px !important;
}
@media(max-width:767px){
span.qa-callback {
    text-align: left !important;
    margin: 10px 0;
}

.qa-doc-img.col-md-2 {
    padding: 0 !important;
}

.qa-page-answer {
    padding: 10px;
}

.qa-doc-info {
    padding-left: 0 !important;
}

.qa-doc-address a {
    margin: 10px 0 20px 0;
}

.qa-doc-info-block-span {
    font-size: 12px !important;
}
}
.services-sub-gallery-block .swiper-button-next {
    right: 0 !important;
}

.services-sub-gallery-block .swiper-button-prev {
    left: 0 !important;
}
.shop-recomended-block {
    margin-bottom: 20px;
}