section.questions {
    margin-top: 68px;
}
.questions-block:first-child {
  padding: 0 10px 0 0;
  }

.questions-block:last-child {
  padding: 0 0 0 10px;
  }

.questions-block div {
  background: #f0f4f5;
  padding: 24px 30px 26px 30px;
  border-radius: 15px;
  }

.questions-block ul {
  padding: 0;
  list-style-type: none !important;
  margin-bottom: 20px;
  }

.questions-block li {
  margin-bottom: 8px;
  }

.questions-block li {
  a {
  font-family: FuturaDemiC;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #29b3bc;
  text-decoration: none !important; 
  transition: all 0.3s ease;
  }
}
.questions-block li a:hover {
    color: #09d9e7;
    transition: all 0.3s ease;
}

.questions-block p {
  font-family: FuturaDemiC;
  font-size: 36px;
  line-height: normal;
  color: #2b2b2b;
  margin-bottom: 14px;
  }

a.quest-all {
  font-family: FuturaDemiC;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff4c72;
  text-transform: uppercase;
  position: relative;
  text-decoration: none !important;
  transition: all 0.3s ease;
  }
a.quest-all:hover {
    color: #ff2f5b;
    transition: all 0.3s ease;
}
a.quest-all:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #ff4c72;
  border-top: 2px solid #ff4c72;
  transform: rotate(45deg);
  right: 0px;
  top: 0;
  }
@media(max-width:991px){
  .questions-block:first-child {
    margin-bottom: 15px;
}

.questions-block {
    padding: 0 !important;
}
}
@media(max-width:767px){
  
  .questions-block div {
    padding-left: 20px;
    padding-right: 20px;
}

.questions-block p {
    font-size: 32px;
}



}