.search-intut input::-webkit-input-placeholder {
  opacity: 0.4;
  font-family: FuturaDemiC;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b2b2b;
}
.search-intut input::-moz-placeholder {
  opacity: 0.4;
  font-family: FuturaDemiC;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b2b2b;
}
.search-intut input:-ms-input-placeholder {
  opacity: 0.4;
  font-family: FuturaDemiC;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b2b2b;
}
.search-intut input:-moz-placeholder {
  opacity: 0.4;
  font-family: FuturaDemiC;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b2b2b;
}
.search-page-block {
    max-width: 793px;
    margin: 0 auto;
}




.search-intut {
    width: 100%;
    position: relative;
}

.search-intut input {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    position: relative;
    padding-bottom: 8px;
    width: 100%;
    border: none;
    border-bottom: solid 1px #dddddd;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}

section.search-page {
    padding: 34px 0 131px 0;
}

.search-intut button {
    width: 27px;
    height: 27px;
    background: url("../images/search2.png")no-repeat;
    border: none;
    background-position: center center;
    position: absolute;
    right: 0;
    top: 9px;
}
.search-intut button:focus {
    outline: none !important;
}

.search-no-result {
    text-align: center;
    margin-top: 35px;
}

.search-no-result span {
    opacity: 0.4;
    font-family: FuturaDemiC;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}
.search-result {
    margin-top: 35px;
}

p.search-result-head {
    font-family: FuturaDemiC;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 37px;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}

.search-result-item {
    padding: 0 0 30px 2px;
    margin-bottom: 28px;
    border-bottom: solid 1px #dddddd;
}

p.search-result-p {
    opacity: 0.45;
    font-family: FuturaDemiC;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.67px;
    color: #000000;
}
a.search-result-p {
    opacity: 0.45;
    font-family: FuturaDemiC;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.67px;
    color: #000000;
  text-decoration: none;
}

p.search-result-sub-p {
    font-family: FuturaDemiC;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 8px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}

span.search-result-span {
    opacity: 0.7;
    font-family: FuturaPTBook;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    display: block;
    line-height: 19px;
    letter-spacing: normal;
    color: #000000;
}

span.search-result-span span {
    font-family: FuturaDemiC;
}

.search-result-bl.col-md-8 {
    padding: 0;
}

.search-result-bl1 {
    float: left;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: #f8f8f8;
    margin-right: 19px;
}

.search-result-bl1 {}

.search-result-bl1 {}

.search-result-bl2 {
    padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
}

.search-result-bl:first-child {
    padding: 0 17px 0 0 !important; 
}

.search-result-bl:last-child {
    padding: 10px 0 0px 32px;
}

a.search-res-sp {
    opacity: 0.45;
    font-family: FuturaDemiC;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 8px;
    line-height: 14px;
    letter-spacing: normal;
    display: block;
    color: #000000;
    text-decoration: none;
}
p.search-res-sp {
    opacity: 0.45;
    font-family: FuturaDemiC;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 8px;
    line-height: 14px;
    letter-spacing: normal;
    display: block;
    color: #000000;
    text-decoration: none;
}

a.search-result-link {
    width: 166px;
    height: 32px;
    border-radius: 16px;
    background-color: #ff4c72;
    display: block;
    font-family: FuturaDemiC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    line-height: 35px;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 13px;
    text-decoration: none;
    text-transform: uppercase;
}

a.search-result-sub-h1 {
    font-family: FuturaDemiC;
    font-size: 28px;
    margin-top: -2px;
    font-weight: normal;
    padding-right: 50px;
    font-style: normal;
    margin-bottom: 12px;
    font-stretch: normal;
    line-height: 27px;
    letter-spacing: normal;
    color: #2b2b2b;
  text-decoration: none;
}

.search-result-bl.col-md-9 {}

p.search-result-sub-h2 {
    font-family: FuturaDemiC;
    font-size: 28px;
    margin-bottom: 8px;
    margin-top: -5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}


p.search-result-sub-h2 span.circel_m {
    margin-left: 7px;
}