section.sertifikat {
    padding-top: 63px;
    background-color: #f0f4f5;
    padding-bottom: 10px;
    margin-top: 30px;

}

.sertifikat-head {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
    margin-bottom: 37px;
}

.sertifikat-block {
    padding: 0 !important;
    margin-bottom: 22px;
}

.sertifikat-items {
    margin-right: 20px;
}

.sertifikat-items img {
    /* width: 100%; */
    display: block;
    height: 256px;
    width: 183px;
}

span.sertifikat-span {
    opacity: 0.7;
    font-family: FuturaDemiC;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: normal;
    color: #000000;
    margin-top: 11px;
    display: block;
}