.row.serv-bl {
    margin-bottom: 84px !important;
}
.searc-serv-head {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
    margin-top: -4px;
    margin-bottom: 35px;
}

.stomatology-block-s {
    padding-left: 0px;
    padding-right: 0;
}


a.stomatology-block-list .stock-block {
    margin-top: 10px;
}

.searc-serv-head-small {
    font-family: FuturaDemiC;
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
    margin-top: 29px;
}
.discount {
    background: #f0f4f5;
    padding: 13px 0 20px 0;
    margin-bottom: 27px;
}
.services-filter-block{
    display: none;
}
.services-filter-block.btn_active {
    display: block !important;
}
.services-filter.btn_active .discount {
    display: block !important;
}
.services-filter .discount {
    display: none !important;
}
@media (max-width: 1200px){
    .categor-block{
     margin-left: 0 !important;
    }
    .price-slider-bl .swiper-button-prev {
    left: 0 !important;
    }
    .price-slider-bl .swiper-button-next{
    right: 0 !important;
    }
}


@media (min-width: 992px){

.stomatology-block-s:nth-child(3n+2) {
    padding-left: 6px;
}

.stomatology-block-s:nth-child(3n+3) {
    padding-left: 11px;
}

.stomatology-block-s:nth-child(3n+4) {
    padding-left: 14px;
}

}
@media (max-width: 991px){
    .stomatology-block-s {
     padding-left: 44px;
     margin-bottom: 10px;
    }
}
@media (max-width: 767px){
    .stomatology-block-s {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 !important;
    }
    .seacrh-bl {
    padding-top: 30px;
    }
    .coment-all-links a {
    margin-bottom: 10px;
    }
}
@media (max-width: 767px){
    
   .cooment-all-stars{    
   float: initial !important;
   }
   span.cooment-all-name {
    margin-right: 5px;
   }
   .categor-block {
    max-width: 500px;
    margin: 0 auto !important;
   }

  .categor-block a {
    display: block;
    width: 50%;
    text-align: center;
}
  .seacrh-bl input {
    height: 40px;
    padding-right: 10px !important;
    font-size: 10px;
    }
}