.services-sub-all-p {
  font-family: FuturaDemiC;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b2b2b;
  text-align: center;
  margin-bottom: 18px; }

.services-sub-all-block {
  max-width: 791px;
  margin: 0 auto; }

span.services-sub-all-span {
  font-family: FuturaPTBook;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: normal;
  color: #2b2b2b;
  margin-bottom: 20px;
  display: block; }

.services-sub-all-items {
  margin-bottom: 44px; }

.services-sub-all-img img {
  width: 100%;
  -webkit-border-radius: 15px;
  border-radius: 15px; }

.services-sub-all-img {
  padding-top: 13px;
  margin-bottom: 26px; }

.services-sub-all-img span {
  font-family: FuturaPTBook;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ababab; }

p.services-sub-result-p {
  font-family: FuturaDemiC;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b2b2b;
  margin-bottom: 18px; }

.col-lg-5.services-sub-result-items {
  padding: 39px 0 0 0; }

span.services-sub-result-span {
  font-family: FuturaPTBook;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b2b2b;
  display: block;
  margin-bottom: 17px;
  padding-left: 37px;
  position: relative;
  }

.services-sub-result-items {
  padding: 78px 0 0 0; }

.services-sub-result-img {
  padding: 0 3px 0 7px !important;
  }

.services-sub-result-img img {
  width: 100%;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.services-sub-result-img span {
  opacity: 0.7;
  font-family: FuturaDemiC;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  display: block;
  margin-top: 9px;
  text-transform: capitalize;
  }



section.services-sub-result {
    background-color: #f0f4f5;
        padding-bottom: 40px;
}

span.services-sub-result-span span {width: 22px;height: 22px;display: block;border: solid 2px #29b3bc;position: absolute;left: 0;margin-top: 4px;border-radius: 30px;}

span.services-sub-result-span span:after {
    content: "";
    display: block;
    width: 11px;
    height: 6px;
    border-right: 2px solid #29b3bc;
    border-top: 2px solid #29b3bc;
    transform: rotate(125deg);
    /* left: 0; */
    position: absolute;
    top: 5px;
    margin-left: 4px;
}

span {}

p.services-sub-history-head {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 23px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}

.services-sub-history-block {
    max-width: 793px;
    margin: 0 auto;
}

p.services-sub-history-p {
    font-family: FuturaDemiC;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
    margin-bottom: 8px;
}

span.services-sub-history-span {
    font-family: FuturaPTBook;
    font-size: 18px;
    padding-left: 22px;
    position: relative;
    display: block;
    margin-bottom: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}

span.services-sub-history-span span {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #29b3bc;
    top: 7px;
    border-radius: 20px;
    left: 0px;
}

span.services-sub-history-span {}

section.services-sub-history {
    margin-top: 84px;
}

.services-sub-history-items {
    margin-bottom: 25px;
}

p.services-sub-gallery-p {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 24px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}

section.services-sub-gallery {}

.services-sub-gallery-block {
    position: relative;
}

.services-sub-gallery-block img {
    width: 100%;
    border-radius: 20px;
}

.services-sub-gallery-block .slider-block {
    border-radius: 20px;
    overflow: hidden;
}

.white-tooth-block p {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}

section.white-tooth {
    margin-top: 37px;
}

.white-tooth-block {
    margin: 0 auto;
    max-width: 793px;
}

.white-tooth-block span {
    font-family: FuturaPTBook;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    display: block;
    letter-spacing: normal;
    color: #2b2b2b;
}

p.services-with-img-head {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 29px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}

section.services-with-img {
    margin-top: 42px;
}

.services-with-img-item {
    max-width: 998px;
    margin: 0 auto;
    margin-bottom: 26px;
}

.col-md-6.services-with-img-item1:last-child {
    padding: 0 0 0 10px;
}

.services-with-img-item1 img {
    width: 100%;
    border-radius: 20px;
}

.services-with-img-item1>p {
    font-family: FuturaDemiC;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    margin-top: 25px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}

.col-md-6.services-with-img-item1>span {
    font-family: FuturaPTBook;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    display: block;
    letter-spacing: normal;
    color: #2b2b2b;
}

.col-md-6.services-with-img-item1:first-child {
    padding: 0 10px 0 0;
}


p.all-head {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}



section.ser-block-numeric {
    margin-top: 41px;
}

.ser-block-numeric-block {
    max-width: 793px;
    margin: 0px auto 0 auto;
    padding-top: 2px;
}

p.ser-block-numeric-p {
    font-family: FuturaPTBook;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}

.ser-block-numeric-items p {
    font-family: FuturaDemiC;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
    margin-bottom: 3px;
}

.ser-block-numeric-items p span {
    font-family: FuturaDemiC;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-right: 11px;
    line-height: normal;
    letter-spacing: normal;
    color: #29b3bc;
}

span.ser-block-numeric-span {
    font-family: FuturaPTBook;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    display: block;
    font-stretch: normal;
    padding-left: 23px;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}

.ser-block-numeric-items {
    margin-bottom: 15px;
}
.services-sub-btn button {
    background: #29b3bc;
    width: 100%;
    height: 84px;
    position: relative;
    border-radius: 6px;
    position: relative;
    font-family: FuturaDemiC;
    font-size: 24px;
    padding-left: 162px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    border: none !important;
    text-align: left;
    color: #ffffff;
    padding-right: 28px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.services-sub-btn button:before {
    content: "";
    background: url(../images/girl3d.png) no-repeat;
    position: absolute;
    width: 133px;
    height: 100%;
    display: block;
    background-position: center center;
    background-size: 100% 100%;
    left: 0;
    z-index: 5;
    top: 0;
}

.services-sub-btn {
    margin-top: 28px;
    padding-left: 8px;
}

.services-sub-btn button:after {
    content: "";
    display: block;
    width: 16px;
    position: absolute;
    height: 16px;
    border-right: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
    transform: rotate(45deg);
    right: 4.5%;
    top: 41%;
}