search-res-sp
.shop-product-block {
    max-width: 1008px;
    margin: 0 auto;
    margin-bottom: 63px;
}

.shop-product-block-l.col-md-8 {
    padding: 0;
}

.shop-product-big-img img {
    width: 387px;
    height: 387px;
    margin: 0 auto;
    display: block;
}

.shop-product-big-img {
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    margin-bottom: 10px;
}

.shop-product-block-l {
    padding-top: 10px;
}

.shop-product-block-r {
    padding-top: 6px;
    padding-left: 50px;
    padding-right: 0;
}


section.shop-product {
    padding-top: 15px;
}

p.shop-product-p {
    font-family: FuturaDemiC;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 25px;
    margin-bottom: 13px;
    letter-spacing: normal;
    color: #2b2b2b;
}

span.shop-product-span {
    opacity: 0.45;
    font-family: FuturaDemiC;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    display: block;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.67px;
    color: #000000;
    text-transform: uppercase;
}

span.shop-product-price {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}

span.shop-product-price2 {
    font-family: FuturaDemiC;
    font-size: 24px;
    font-weight: normal;
    position: relative;
    display: inline-block;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    margin-left: 15px;
    letter-spacing: normal;
    color: #cacaca;
}

.shop-pro-block1 a {
    max-width: 285px;
    height: 54px;
    border-radius: 27px;
    border: solid 2px #ff4c72;
    display: block;
    text-align: center;
    margin-bottom: 17px;
    background-color: #ff4c72;
    text-decoration: none !important;
}

.shop-pro-block1 a span {
    font-family: FuturaDemiC;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 52px;
    display: block;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.shop-pro-block1 {
    margin-top: 14px;
}

.shop-pro-block1 p {
    float: left;
    display: block;
    width: 49%;
    opacity: 0.4;
    font-family: FuturaDemiC;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: #000000;
}

.shop-pro-block1 {}

.shop-pro-block1 p:first-child {
    margin-right: 5px;
}

p {}

.row.shop-pro-row span:first-child {
    opacity: 0.7;
    font-family: FuturaPTBook;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    display: block;
    line-height: normal;
    letter-spacing: normal;
    width: 65%;
    color: #000000;
}

.row.shop-pro-row span:last-child {
    opacity: 0.7;
    font-family: FuturaDemiC;
    font-size: 14px;
    font-weight: normal;
    display: block;
    font-style: normal;
    font-stretch: normal;
    text-align: right;
    margin-top: 2px;
    width: 35%;
    line-height: 15px;
    float: right;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
}

.shop-pro-discription {
    margin-top: 6px;
}

.row.shop-pro-row {
    margin-bottom: 2px !important;
    padding-right: 6px;
}

.shop-product-small-img {
    width: 124.8px;
    border: solid 2px transparent;
    margin-right: 10px;
    height: 70px;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
}

.shop-product-small-img img {
    width: 70px;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.shop-product-small-img:last-child {
    margin-right: 0 !important;
}

.shop-product-small-img.actv {
    border-radius: 6px;
    border: solid 2px #29b3bc;
}

.shop-product-discription {
    max-width: 793px;
    margin: 0 auto;
}

.shop-product-discription h3 {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 19px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}

.shop-product-discription span {
    display: block;
    font-family: FuturaPTBook;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    color: #2b2b2b;
}

.shop-product-discription2 {
    max-width: 793px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 39px;
}

.shop-product-discription2 h3 {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 19px;
    text-align: center;
    color: #2b2b2b;
}

.shop-product-discription2 .row div {
    padding: 0;
}

span.shop-product-disc-span1 {
    font-family: FuturaPTBook;
    font-size: 18px;
    font-weight: normal;
    display: block;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    margin-bottom: 20px;
    color: #2b2b2b;
}

span.circel_m {}

span.shop-product-price span.circel_m {
    margin-left: 8px;
}

span.shop-product-price2 span.circel_m {
    margin-left: 6px;
}

span.shop-product-price2:after {content: "";height: 2px;display: block;background: #cacaca;width: 100%;position: absolute;top: 16px;}

span.shop-product-disc-span1 {}

span.shop-product-disc-span2 {
    font-family: FuturaDemiC;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 27px;
    font-style: normal;
    font-stretch: normal;
    line-height: 19px;
    letter-spacing: normal;
    display: block;
    color: #676767;
}

.col-md-3 {}

.shop-product-discription2 .col-md-3:nth-child(2n) {
    padding-left: 5px !important;
}

.shop-product-discription2 .col-md-3:nth-child(3n) {
    padding-left: 10px !important;
}

.shop-product-discription2 .col-md-3:nth-child(4n) {
    padding-left: 15px !important;
}
p.shop-itm-p {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 39px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}

section.clinic.shop-itm {
    margin-top: 64px;
}
.shop-pro-block2 p {
    border-radius: 6px;
    background-color: #f8f8f8;
    opacity: 0.45;
    font-family: FuturaDemiC;
    font-size: 14px;
    margin-bottom: 25px;
    padding: 19px 20px 20px 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 13px;
    letter-spacing: normal;
    color: #000000;
}

.shop-pro-block2 {
    margin-top: 15px;
}

.shop-pro-block2 span {
    opacity: 0.7;
    display: block;
    font-family: FuturaPTBook;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 17px;
    letter-spacing: normal;
    color: #000000;
}
.gallery-popup2 img {display: block;max-width: 387px;margin: 0 auto;height: auto !important;}

.gallery-thumbs2 .swiper-slide.thumb-popup {
    width: 124.8px !important;
    border: solid 2px transparent;
    margin-right: 10px;
    overflow: hidden;
    height: 70px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    cursor: pointer;
}

.gallery-thumbs2 .swiper-slide.thumb-popup img {
    display: block;
    width: 58%;
    margin: 0 auto;
}

.gallery-thumbs2 .swiper-slide.thumb-popup.swiper-slide-thumb-active {
    border-radius: 6px;
    border: solid 2px #29b3bc;
}
.gallery-popup2 .swiper-slide.slide-popup div {
    height: auto !important;
}

@media(max-width:767px){
.shop-product-block-r {
    padding-left: 0;
    padding-top: 30px;
}
}
.shop-product-discription h3 {
    font-family: FuturaDemiC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 19px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}
