section(class="advantage")
 .center
  div(class="advantage-block") 
   .row
    div(class="col-lg-5 advantage-1")
     p Наши преимущества — профессиональная работа и гарантия на результат
     a(href="#") Подробнее о нас и гарантиях
    div(class="col-lg-7 advantage-2")
     p Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты  под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США.
     .row
      div(class="tooth-block col-md-4")
       img(src="images/icon-tooth-white.svg")
       p Иконка и какой-нибудь полезный факт
       span Краткое описание факта, детали в несколько строк
      div(class="tooth-block col-md-4")
       img(src="images/icon-tooth-white.svg")
       p Иконка и какой-нибудь полезный факт
       span Краткое описание факта, детали в несколько строк
      div(class="tooth-block col-md-4")
       img(src="images/icon-tooth-white.svg")
       p Иконка и какой-нибудь полезный факт
       span Краткое описание факта, детали в несколько строк
     a(href="#") Подробнее о нас и гарантиях