section(class="articles")
 .navigation-block
  .center
   p Тематики
   .categor-block
     a(href="#", class="articles-btn btn_active") Все
     a(href="#") Ортопед
     a(href="#") Хирурги
     a(href="#") Имплантолог
     a(href="#") Ортодонт
     a(href="#") Детский стоматолог
     a(href="#") Терапевт
     a(href="#") Ортопед
     a(href="#") Хирурги
     a(href="#") Детский стоматолог
     a(href="#") Ортодонт
     a(href="#") Детский стоматолог
     a(href="#") Терапевт
 .navigation-block
  .center
   p Формат
   .categor-block
     a(href="#", class="articles-btn btn_active") Все
     a(href="#") Статьи
     a(href="#") Видео лекции
 .articles-body
  .articles-block
   .center
    .articles-item
     .row
      div(class="col-md-6 articles-bl")
       img(src="images/tooth2.png")
      div(class="col-md-6 articles-bl")
       p Название статьи, написанное в две строки
       span 
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть».
  .articles-block
   .center
    .articles-item
     .row
      div(class="col-md-6 articles-bl")
       img(src="images/tooth2.png")
       button(class="articles-video")
      div(class="col-md-6 articles-bl")
       p Название статьи, написанное в две строки
       span 
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть».
  .articles-block
   .center
    .articles-item
     .row
      div(class="col-md-6 articles-bl")
       img(src="images/tooth2.png")
      div(class="col-md-6 articles-bl")
       p Название статьи, написанное в две строки
       span 
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть».
  div(class="discount")
   .center
    .discount-block
     p(class="discount-p") Белоснежная улыбка на 8 марта
     span(class="discount-span") -50%
  .articles-block
   .center
    .articles-item
     .row
      div(class="col-md-6 articles-bl")
       img(src="images/tooth2.png")
      div(class="col-md-6 articles-bl")
       p Название статьи, написанное в две строки
       span 
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть».
  .articles-block
   .center
    .articles-item
     .row
      div(class="col-md-6 articles-bl")
       img(src="images/tooth2.png")
      div(class="col-md-6 articles-bl")
       p Название статьи, написанное в две строки
       span 
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть».
  .articles-block
   .center
    .articles-item
     .row
      div(class="col-md-6 articles-bl")
       img(src="images/tooth2.png")
      div(class="col-md-6 articles-bl")
       p Название статьи, написанное в две строки
       span 
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть».
 .pagination
  .center
   .pagination-block
    a(href="#", class="active_a") 1
    a(href="#") 2
    a(href="#") 3
    a(href="#") 4
    a(href="#") 5
    span ...
    a(href="#") 11
    a(href="#") 12
    a(href="#", class="next-page") Далее
