section(class="articles")
 p Еще статьи по теме
 .articles-body
  .articles-block
   .center
    .articles-item
     .row
      div(class="col-md-6 articles-bl")
       img(src="images/tooth2.png")
      div(class="col-md-6 articles-bl")
       p Название статьи, написанное в две строки
       span 
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть».
  .articles-block
   .center
    .articles-item
     .row
      div(class="col-md-6 articles-bl")
       img(src="images/tooth2.png")
       button(class="articles-video")
      div(class="col-md-6 articles-bl")
       p Название статьи, написанное в две строки
       span 
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть».
  .articles-block
   .center
    .articles-item
     .row
      div(class="col-md-6 articles-bl")
       img(src="images/tooth2.png")
      div(class="col-md-6 articles-bl")
       p Название статьи, написанное в две строки
       span 
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть».