section(class="clinic")
 .clinic-block
  .center
   div(class="clinic-bl withlink")
    div(class="rigth-block", style="background: url(images/servbg.png)no-repeat;")
    .withlink-block
      a(href="#") Главная
      span Отделения
    h1(class="clinic-block-head") Отделения стоматологии LalaDent
    div(class="clinic-nm")
     span Единый номер телефона
     span +7 495 700 8000
    div(class="col-lg-8 no-padding")
     .row
      div(class="clinic-items")
       p Иконка и какой-нибудь полезный факт
       span Краткое описание факта, детали в несколько строк 
      div(class="clinic-items")
       p Иконка и какой-нибудь полезный факт
       span Краткое описание факта, детали в несколько строк
      div(class="clinic-items")
       p Иконка и какой-нибудь полезный факт
       span Краткое описание факта, детали в несколько строк
 .mini-discount 
  .center
   .without-slider
    .row
     a(href="#")(class="mini-discount-items col-lg-4")
      div(class="mini-discount-item1")
       p Белоснежная улыбка на 8 марта
       span -50%
      p(class="mini-discount-items-p mini-s-d1")
       | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
     a(href="#")(class="mini-discount-items col-lg-4")
      div(class="mini-discount-item2")
       p Имплантация Nobel по специальной цене
       span -10%
      p(class="mini-discount-items-p mini-s-d2")
       | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
     a(href="#")(class="mini-discount-items col-lg-4")
      div(class="mini-discount-item3")
       p Композитный виниры по специальной цене
       span 9000
        span(class="circel_m") ₽
      p(class="mini-discount-items-p mini-s-d3")
       | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
   div(class="discount-slider")
    div(class="discount-slider-block")
     div(class="slider10 swiper-container")
      .swiper-wrapper
       div(class="swiper-slide")
        a(href="#")(class="mini-discount-items")
         div(class="mini-discount-item1")
          p Белоснежная улыбка на 8 марта
          span -50%
       div(class="swiper-slide")
        a(href="#")(class="mini-discount-items")
         div(class="mini-discount-item2")
          p Имплантация Nobel по специальной цене
          span -10%
       div(class="swiper-slide")
        a(href="#")(class="mini-discount-items")
         div(class="mini-discount-item3")
          p Композитный виниры по специальной цене
          span 9000
           span(class="circel_m") ₽
     .swiper-pagination
