section(class="comment case")
 .center
   h3(class="comment-head") Отзыв клиента
   .comment-block
    p(class="comment-block-p") Отзыв о клинике
    span(class="comment-block-span mob_all") 
     | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
     button(class="mob_all_btn") Развернуть
    .comment-autor
     .autor-n Ирина
     .comment-date
      span(class="comment-d") 15.03.2019
      span(class="comment-mark")
       div
        span(class="expert-m-span active_h")
        span(class="expert-m-span active_h")
        span(class="expert-m-span active_h")
        span(class="expert-m-span active_h")
        span(class="expert-m-span")
    .doc-callback
     a(href="#")
      img(src="images/doc.png")
     a(href="#", class="doc-collback-name") Вадим Петров, Главный врач
     span Спасибо большое за ваш отзыв, были рады помочь!
   
