section(class="cooment-all")
   .center
    p(class="cooment-all-head") Комментарии
    .comment-all-block
     p(class="cooment-all-p mob_all") 
      | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
      button(class="mob_all_btn") Развернуть 
     .cooment-all-autor
      span(class="cooment-all-time")
       | 15.03.2019, 13:15
      span(class="cooment-all-name") Ирина
      span(class="cooment-all-stars")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-grey.svg")
     .comment-all-answ
      p(class="cooment-all-p") Текст комментария
      .cooment-all-autor
       span(class="cooment-all-time") 
        | 15.03.2019, 13:15
       span(class="cooment-all-name") Вадим
     .comment-all-answ
      p(class="cooment-all-p") Текст комментария
      .cooment-all-autor 
       span(class="cooment-all-time")
        | 15.03.2019, 13:15
       span(class="cooment-all-name") Олег
       a(href="#", class="comment-all-btn") Ответить
    .comment-all-block
     p(class="cooment-all-p mob_all")
      | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
      button(class="mob_all_btn") Развернуть 
     .cooment-all-autor
      span(class="cooment-all-time")
       | 15.03.2019, 13:15
      span(class="cooment-all-name") Ирина
      span(class="cooment-all-stars")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-grey.svg")
     a(href="#", class="comment-all-btn") Ответить
   .coment-all-links
    a(href="#", onclick='popup("write-review-popup2")') Оставить комментарий
    a(href="#") Еще комментарии