section(class="comment")
 .center
   h2(class="comment-head") Отзывы о профессиональной чистке зубов
   .comment-block
    p(class="comment-block-p") Отзыв о клинике
    span(class="comment-block-span mob_all") 
     | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
     button(class="mob_all_btn") Развернуть
    .comment-autor
     .autor-n Ирина
     .comment-date
      span(class="comment-d") 15.03.2019
      span(class="comment-mark mark-blovk1")
       div
        span(class="expert-m-span")
        span(class="expert-m-span")
        span(class="expert-m-span")
        span(class="expert-m-span")
        span(class="expert-m-span")
    .doc-callback
     img(src="images/doc.png")
     p Вадим Петров, Главный врач
     span Спасибо большое за ваш отзыв, были рады помочь!
   .comment-block
    p(class="comment-block-p") Отзыв врачу Иванову Владимиру Петровичу
    span(class="comment-block-span") 
     | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
    .comment-autor
     .autor-n Ирина
     .comment-date
      span(class="comment-d") 15.03.2019
      span(class="comment-mark mark-blovk1")
       div
        span(class="expert-m-span")
        span(class="expert-m-span")
        span(class="expert-m-span")
        span(class="expert-m-span")
        span(class="expert-m-span")
   .comment-block
    p(class="comment-block-p") Отзыв об отделении на Белорусской
    span(class="comment-block-span mob_all") 
     | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
     button(class="mob_all_btn") Развернуть
    div(class="comment-slider")
     div(class="slider3 swiper-container")
      .swiper-wrapper
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
     .swiper-button-prev
     .swiper-button-next
    .comment-autor
     .autor-n Ирина
     .comment-date
      span(class="comment-d") 15.03.2019
      span(class="comment-mark mark-blovk1")
       div
        span(class="expert-m-span")
        span(class="expert-m-span")
        span(class="expert-m-span")
        span(class="expert-m-span")
        span(class="expert-m-span")
    .doc-callback
     img(src="images/doc.png")
     p Вадим Петров, Главный врач 
     span Спасибо большое за ваш отзыв, были рады помочь!
 .comment-btn
  button(class="comment-btn1") Оставить отзыв
  button(class="comment-btn2") Еще отзывы
  button(class="comment-btn1") Оставить отзыв