section(class="experience") 
 .center 
   h2(class="experience-head") Наш опыт
   .slider2-block
    div(class="slider2 swiper-container")
     .swiper-wrapper
      div(class="slider-block swiper-slide")
       img(src="images/video-c.png")
       p(class="experience-p") Установка имплантов, керамических виниров и коронок
      div(class="slider-block swiper-slide")
       img(src="images/video-c.png")
       p(class="experience-p") Установка имплантов, керамических виниров и коронок
      div(class="slider-block swiper-slide")
       img(src="images/video-c.png")
       p(class="experience-p") Установка имплантов, керамических виниров и коронок
      div(class="slider-block swiper-slide")
       img(src="images/video-c.png")
       p(class="experience-p") Установка имплантов, керамических виниров и коронок    

    div(class="swiper-button-prev swiper-button-prev2")
    div(class="swiper-button-next swiper-button-next2")
    div(class="swiper-pagination swiper-pagination2") 
   .experience-page
    a(href="#", onclick='popup("write-review-popup")', class="site-link") 
     div Перейти в раздел 
