footer
 .footer-callback
  .center
   .row
    div(class="col-lg-7 footer-head no-padding")
     p Хотите записаться или у вас есть вопросы? Звоните
      span +7 (495) 700-80-00
    div(class="col-lg-5 footer-btn")
     button(onclick='popup("write-review-popup2")') Обратный звонок
     button(onclick='popup("check-number-popup")') Запись на прием
 .footer-m
  .center
   .row
    div(class="col-lg-8 no-padding") 
     .row
      div(class="col-md-4 no-padding")
       .row
        div(class="col-md-6 col-6 footer-menu no-padding")
         ul 
          li
           a(href='#', onclick='popup("details-popup")') Услуги
          li
           a(href='#', onclick='popup("slider-popup")') Цены
          li 
           a(href='#', onclick='popup("appointment-popup")') Врачи
          li 
           a(href='#', onclick='popup("appointment-popup2")') Наш опыт
          li 
           a(href='#', onclick='popup("appointment-popup3")') Отделения
        div(class="col-md-6 col-6 footer-nav no-padding")
         span(class='footer-span') Информация
         ul
          li
           a(href='order_confirm.html') Энциклопедия
          li
           a(href='shop_filtred.html') Вопросы-Ответы
          li
           a(href='shop_noresult.html') О клинике
          li
           a(href='article.html') Пресса о нас
          li
           a(href='case.html') Магазин
          li
           a(href='check_out.html') Личный кабинет
      div(class="col-md-8 no-padding")
       .row
         div(class="col-md-4  col-6 footer-adress")
          span(class='footer-span') Отделения
          ul
            li
             a(href='clinics2.html') М. Третьяковская
            li
             a(href='clinics3.html') М. Парк Культуры
            li
             a(href='qa.html') М. Белорусская
         div(class="col-md-4 col-6 footer-w-week")
           span(class='footer-span') Время работы
           ul
            li Пн-Пт: с 9:00 до 21:00
            li Сб: с 10:00 до 20:00
            li Вс: выходной
         div(class="col-md-4 footer-social")
          span(class='footer-span') Мы в соцсетях
          div
           a(href='qa2.html')
            i(class="ic-ins")
           a(href='shop_item.html')
            i(class="ic-fb")
           a(href='shop_item2.html')
            i(class="ic-vk")
       div(class="col-md-12 nopadding foot-conf")
         a(href='#') Политика конфеденциальности

    div(class="col-lg-4 col-md-8 no-padding footer-logo")
     div
      a(herf="#")
       img(src="images/logo.svg")
      div(class="foot-add")
       p ООО «Стоматология ЛаЛаДент»
       p
        span ИНН 
        | 3664069397
       p
        span ОГРН 
        | 1053600591197
       p
        span № лицензии 
        | ЛО-25-01-004603
      p(class="copyrigth") © 2019 ЛалаДент
div(class="menu_background")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js")
script(src="js/datepicker.min.js")
script(src="js/main.js")