section(class="services-sub-gallery")
   .center  
    p(class="services-sub-gallery-p") Галерея фотографий
    .services-sub-gallery-block
     div(class="slider11 swiper-container")
      .swiper-wrapper 
       div(class="slider-block swiper-slide gallery-pop")
        img(src="images/chair.png")
       div(class="slider-block swiper-slide gallery-pop")
        img(src="images/chair.png")
       div(class="slider-block swiper-slide gallery-pop")
        img(src="images/chair.png")
       div(class="slider-block swiper-slide gallery-pop")
        img(src="images/chair.png")
     div(class="swiper-button-prev swiper-button-prev11")
     div(class="swiper-button-next swiper-button-next11")
     div(class="swiper-pagination swiper-pagination11")