include popup
div(class="mob-header")
 .center
  .row 
   div(class="col-sm-4 col-5 no-padding")
    a(href="index.html", class="mob-logo")
   div(class="col-sm-4 col-4 no-padding")
    button(class="mob-button-reg") Записаться
   div(class="col-sm-2 col-1 no-padding")
    button(class="mob-button-call")
   div(class="col-sm-2 col-2 no-padding")
    div(class="mob-head-btn")
     span
     span
     span
 div(class="mob-menu-win")
  div(class="mob-menu") 
   div(class="mob-menu-head")
    .row
     div(class="col-6")
      a(href="index.html", class="mob-logo")
     div(class="col-6")
      div(class="mob-head-btn-close")
       span
       span
   div(class="mob-menu-num-block")
    .row
     div(class="col-6")
      span(class="mob-logo-number") +7 (495) 700-80-00
     div(class="col-6")
      a(href="#", class="mob-logo-a") Личный кабинет
     div(class="col-6")
      button(class="logo-call logo-btn") Обратный звонок
     div(class="col-6")
      button(class="logo-reg logo-btn") запись на прием
   div(class="mob-menu-add-block")
    .row
     div(class="col-6") 
      span(class="mob-menu-add-block-span") Отделения:
      a(href="#")(class="mob-menu-add-block-a") Народного ополчения
      a(href="#")(class="mob-menu-add-block-a") Белорусская
      a(href="#")(class="mob-menu-add-block-a") Парк Культуры
     div(class="col-6") 
      span(class="mob-menu-add-block-span") Время работы
      span(class="mob-menu-add-block-tm") Пн-Пт:
       span 09:00 - 21:00
      span(class="mob-menu-add-block-tm") Сб: 
       span 10:00 - 20:00
      span(class="mob-menu-add-block-tm") Вс:
       span выходной
   div(class="mob-menu-block")
    div(class="mob-menu-block-items")
     div(class="mob-menu-block-head")
      .row
       div(class="col-6 mob-menu-btn")
        span Услуги
       div(class="col-6") 
        span Энциклопедия
     div(class="mob-menu-block-body")
      ul
       li
        a(href="#") Название пункта 1
       li
        a(href="#") Название пункта 2
       li
        a(href="#") Название пункта 3
       li
        a(href="#") Название пункта 4
       li
        a(href="#") Название пункта 5
    div(class="mob-menu-block-items")
     div(class="mob-menu-block-head")
      .row
       div(class="col-6 mob-menu-btn")
        span Цены
       div(class="col-6") 
        span Вопросы-Ответы
     div(class="mob-menu-block-body")
      ul
       li
        a(href="#") Название пункта 1
       li
        a(href="#") Название пункта 2
       li
        a(href="#") Название пункта 3
       li
        a(href="#") Название пункта 4
       li
        a(href="#") Название пункта 5
    div(class="mob-menu-block-items")
     div(class="mob-menu-block-head")
      .row
       div(class="col-6 mob-menu-btn")
        span Врачи
       div(class="col-6") 
        span О клинике
     div(class="mob-menu-block-body")
      ul
       li
        a(href="#") Название пункта 1
       li
        a(href="#") Название пункта 2
       li
        a(href="#") Название пункта 3
       li
        a(href="#") Название пункта 4
       li
        a(href="#") Название пункта 5
    div(class="mob-menu-block-items")
     div(class="mob-menu-block-head")
      .row
       div(class="col-6 mob-menu-btn")
        span Наш опыт
       div(class="col-6") 
        span Пресса о нас
     div(class="mob-menu-block-body")
      ul
       li
        a(href="#") Название пункта 1
       li
        a(href="#") Название пункта 2
       li
        a(href="#") Название пункта 3
       li
        a(href="#") Название пункта 4
       li
        a(href="#") Название пункта 5
    div(class="mob-menu-block-items")
     div(class="mob-menu-block-head")
      .row
       div(class="col-6 mob-menu-btn")
        span Отделения
       div(class="col-6") 
        span Магазин
     div(class="mob-menu-block-body")
      ul
       li
        a(href="#") Название пункта 1
       li
        a(href="#") Название пункта 2
       li
        a(href="#") Название пункта 3
       li
        a(href="#") Название пункта 4
       li
        a(href="#") Название пункта 5
    div(class="mob-menu-block-items")
     div(class="mob-menu-block-head")
      .row
       div(class="col-6 ")
        span(class="mob-search") Поиск
       div(class="col-6") 
        span Корзина




header
 div(id="head-fix")
  .nav-menu
   .center
    .row
     div(class="nav-block col-md-10 col-lg-9")
      span(class="nav-name") Отделения:
       a(href="press.html")(class="nav-items") Третьяковская
       a(href="shop.html")(class="nav-items") Парк Культуры
       a(href="search-no-result.html")(class="nav-items") Белорусская
      span(class="nav-social") Мы в соцсетях:
       a(href='search-result.html')
        i(class="ic-ins")
       a(href='search.html')
        i(class="ic-fb")
       a(href='#')
        i(class="ic-vk")
     div(class="user-block col-md-2 col-lg-3")
      a(href="#") Личный кабинет
  .logo-blocks
   .center
    .row
     div(class="col-md-4 col-lg-6 no-padding logo-bl")
      a(href="index.html", id="logo")
     div(class="col-md-8 col-lg-6 logo-block")
      div
       span(class="logo-nomber") +7 (495) 700-80-00
       button(class="logo-call logo-btn", onclick='popup("confirm")') Обратный звонок
       button(class="logo-reg logo-btn", onclick='popup("ask-doctor-popup")') запись на прием
  .menu
   .center
    .row
     div(class="col-lg-8 menu-block")
      ul
       li(class="menu-li")
        a(href='services.html') Услуги
       li(class="menu-li")
        a(href='price.html') Цены
       li(class="menu-li") 
        a(href='doctors.html') Врачи
       li(class="menu-li") 
        a(href='doctor.html') Наш опыт
       li(class="menu-li") 
        a(href='reviews.html') Отделения
       li(class="menu-li") 
        a(href='services_sub.html') Информация
        ul
         li
          a(href="services2.html") Энциклопедия
         li
          a(href="clinics.html") Вопросы-Ответы
         li
          a(href="portfolio.html") О клинике
         li
          a(href="articles.html") Пресса о нас
         li
          a(href="about.html") Магазин
         li
          a(href="cart.html") Личный кабинет
      button(class="search-btn")
     div(class="col-lg-4 market-block")
      a(href="cart_promo.html") Магазин
      a(href="offers.html") Корзина
div(class="scrool-top")(id="scr-btn")
 a(href="#")(class="scrool-btn")

