section(class="hospital-loc-mob")
 h2(class="hospital-loc-p") Отделения клиники
 div(class="hospital-loc-block-mob")
  div(class="hospital-loc-block-mob-item")
   div(class="hospital-loc-block-mob-head")
    .center
     p М. Третьяковская
     span(class="hospital-loc-block-mob-add") Ленинский проспект, 20
     span(class="hospital-loc-block-mob-num") +7 495 700 8000
   div(class="hospital-loc-block-mob-body")
    div(class="iframe_map")
         iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A36de576975b0c11351ee15ac01165fb08627bd92dcf742d055e81433fa313de6&amp;source=constructor" width="690" height="345" frameborder="0")
    .center 
     .row
      div(class="col-sm-6 address-block-time")
       p(class="address-block-time-p") Время работы отделения
       div
        span(class="address-block-time-span") Пн-Пт с 09:00 до 20:00
        span(class="address-block-time-span") Сб с 10:00 до 18:00
        span(class="address-block-time-span") Вс с 10:00 до 15:00
      div(class="address-block-btn col-sm-6")
       button записаться на прием
       button записаться
       a(href="#") Подробнее об отделении
     div(class="tur-3d")
      button(id="tur-3d-btn") Посмотреть 3D-тур
     div(class="hospital-loc-slider")
       div(class="slider4-1 swiper-container")
        .swiper-wrapper
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
       .swiper-pagination
  div(class="hospital-loc-block-mob-item")
   div(class="hospital-loc-block-mob-head")
    .center
     p М. Парк Культуры
     span(class="hospital-loc-block-mob-add") Ленинский проспект, 20
     span(class="hospital-loc-block-mob-num") +7 495 700 8000
   div(class="hospital-loc-block-mob-body")
    div(class="iframe_map")
         iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A36de576975b0c11351ee15ac01165fb08627bd92dcf742d055e81433fa313de6&amp;source=constructor" width="690" height="345" frameborder="0")
    .center
     .row
      div(class="col-sm-6 address-block-time")
       p(class="address-block-time-p") Время работы отделения
       div
        span(class="address-block-time-span") Пн-Пт с 09:00 до 20:00
        span(class="address-block-time-span") Сб с 10:00 до 18:00
        span(class="address-block-time-span") Вс с 10:00 до 15:00
      div(class="address-block-btn col-sm-6")
       button записаться на прием
       button записаться
       a(href="#") Подробнее об отделении
     div(class="tur-3d")
      button(id="tur-3d-btn") Посмотреть 3D-тур
     div(class="hospital-loc-slider")
       div(class="slider4-1 swiper-container")
        .swiper-wrapper
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
       .swiper-pagination
  div(class="hospital-loc-block-mob-item")
   div(class="hospital-loc-block-mob-head")
    .center
     p М. Белорусская
     span(class="hospital-loc-block-mob-add") Ленинский проспект, 20
     span(class="hospital-loc-block-mob-num") +7 495 700 8000
   div(class="hospital-loc-block-mob-body")
    div(class="iframe_map")
         iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A36de576975b0c11351ee15ac01165fb08627bd92dcf742d055e81433fa313de6&amp;source=constructor" width="690" height="345" frameborder="0")
    .center
     .row
      div(class="col-sm-6 address-block-time")
       p(class="address-block-time-p") Время работы отделения
       div
        span(class="address-block-time-span") Пн-Пт с 09:00 до 20:00
        span(class="address-block-time-span") Сб с 10:00 до 18:00
        span(class="address-block-time-span") Вс с 10:00 до 15:00
      div(class="address-block-btn col-sm-6")
       button записаться на прием
       button записаться
       a(href="#") Подробнее об отделении
     div(class="tur-3d")
      button(id="tur-3d-btn") Посмотреть 3D-тур
     div(class="hospital-loc-slider")
       div(class="slider4-1 swiper-container")
        .swiper-wrapper
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
       .swiper-pagination



section(class="hospital-loc")
 h2(class="hospital-loc-p") Отделения клиники
 div(class="hospital-loc-block")
  .center
   .div(class="loc-nav")
    ul(class="hos-nav-ul")
     li(class="hos-nav-li active")
      p(class="hos-nav-p") М. Третьяковская
      span(class="hos-nav-span") Ленинский проспект, 20
     li(class="hos-nav-li")
      p(class="hos-nav-p") М. Парк Культуры
      span(class="hos-nav-span") Ленинский проспект, 20
     li(class="hos-nav-li")
      p(class="hos-nav-p") М. Белорусская
      span(class="hos-nav-span") Ленинский проспект, 20
    div(class="tab-cont")
     div(class="active")
      .row
       div(class="col-lg-7 loc-block")
        div(class="iframe_map")
         iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A36de576975b0c11351ee15ac01165fb08627bd92dcf742d055e81433fa313de6&amp;source=constructor" width="690" height="345" frameborder="0")
       div(class="col-lg-5 address-block")
        p(class="address-block-p") Ленинский проспект, 20
        span(class="address-block-span") М. Третьяковская, М. Новокузнецкая, М. Полянка
        .row
         div(class="col-md-6 address-block-time")
          p(class="address-block-time-p") Время работы отделения
          span(class="address-block-time-span") Пн-Пт с 09:00 до 20:00
          span(class="address-block-time-span") Сб с 10:00 до 18:00
          span(class="address-block-time-span") Вс с 10:00 до 15:00
         div(class="col-md-6 address-block-time")
          p(class="address-block-time-p") Телефон отделения
          span(class="address-block-time-span") +7 495 700 8000
        div(class="address-block-btn")
         button записаться на прием
         a(href="#") Подробнее об отделении
        div(class="tur-3d")
         button(id="tur-3d-btn") Посмотреть 3D-тур
      div(class="hospital-loc-slider")
       div(class="slider4-1 swiper-container")
        .swiper-wrapper
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
       div(class="swiper-button-prev swiper-button-prev41")
       div(class="swiper-button-next swiper-button-next41")
     div
      .row
       div(class="col-lg-7 loc-block")
        div(class="iframe_map")
         iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A36de576975b0c11351ee15ac01165fb08627bd92dcf742d055e81433fa313de6&amp;source=constructor" width="690" height="345" frameborder="0")
       div(class="col-lg-5 address-block")
        p(class="address-block-p") 2Ленинский проспект, 20
        span(class="address-block-span") М. Третьяковская, М. Новокузнецкая, М. Полянка
        .row
         div(class="col-md-6 address-block-time")
          p(class="address-block-time-p") Время работы отделения
          span(class="address-block-time-span") Пн-Пт с 09:00 до 20:00
          span(class="address-block-time-span") Сб с 10:00 до 18:00
          span(class="address-block-time-span") Вс с 10:00 до 15:00
         div(class="col-md-6 address-block-time")
          p(class="address-block-time-p") Телефон отделения
          span(class="address-block-time-span") +7 495 700 8000
        div(class="address-block-btn")
         button записаться на прием
         a(href="#") Подробнее об отделении
        div(class="tur-3d")
         button(id="tur-3d-btn") Посмотреть 3D-тур
      div(class="hospital-loc-slider")
       div(class="slider4-2 swiper-container")
        .swiper-wrapper
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
       div(class="swiper-button-prev swiper-button-prev42")
       div(class="swiper-button-next swiper-button-next42")
     div
      .row
       div(class="col-lg-7 loc-block")
        div(class="iframe_map")
         iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A36de576975b0c11351ee15ac01165fb08627bd92dcf742d055e81433fa313de6&amp;source=constructor" width="690" height="345" frameborder="0")
       div(class="col-lg-5 address-block")
        p(class="address-block-p") 3Ленинский проспект, 20
        span(class="address-block-span") М. Третьяковская, М. Новокузнецкая, М. Полянка
        .row
         div(class="col-md-6 address-block-time")
          p(class="address-block-time-p") Время работы отделения
          span(class="address-block-time-span") Пн-Пт с 09:00 до 20:00
          span(class="address-block-time-span") Сб с 10:00 до 18:00
          span(class="address-block-time-span") Вс с 10:00 до 15:00
         div(class="col-md-6 address-block-time")
          p(class="address-block-time-p") Телефон отделения
          span(class="address-block-time-span") +7 495 700 8000
        div(class="address-block-btn")
         button записаться на прием
         a(href="#") Подробнее об отделении
        div(class="tur-3d")
         button(id="tur-3d-btn") Посмотреть 3D-тур
      div(class="hospital-loc-slider")
       div(class="slider4-3 swiper-container")
        .swiper-wrapper
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
         div(class="slider-block4 swiper-slide")
          img(src="images/hos-slider.png")
       div(class="swiper-button-prev swiper-button-prev43")
       div(class="swiper-button-next swiper-button-next43")

