section(class="kurs") 
 h2(class="kurs-head") Курсы повышения квалификации
 .center
  div(class="row kurs-row1")
   div(class="kurs-block-text col-lg-6")
    span(class="doc-edu-block-span")
     span
     | Certified Whitening Centre, Англия, 2004
    span(class="doc-edu-block-span")
     span
     | Особенности эстетической реставрации зубов материалами фирмы Tokuyama Dental, 2007
    span(class="doc-edu-block-span")
     span
     | Наука и искусство в ортопедической стоматологии, 2010
    span(class="doc-edu-block-span")
     span
     | Treatment with Astra Tech implants dental system, 2011
   div(class="kurs-block-text col-lg-6")
    span(class="doc-edu-block-span")
     span
     | Литые культевые штифтовые вкладки,2011
    span(class="doc-edu-block-span")
     span
     | Протезирование на имплантатах системы Ankylos, 2012
    span(class="doc-edu-block-span")
     span
     | Неотложная помощь при соматических осложнениях на амбулаторном стоматологическом приеме, 2012
    span(class="doc-edu-block-span")
     span
     | Протезирование съемными протезами при полной вторичной адентии, 2012
  div(class="row kurs-row2")
   div(class="kurs-video col-lg-6 order-lg-last order-first")
      div
       img(src="images/doctor.png")
   div(class="kurs-block col-lg-6 order-lg-first order-last")
       p(class="kurs-block-head") Специалист по имплантации и протезированию
       span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США. 
       span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США.
