section(class="maps")
  .center
   div(class="maps-nav")
    a(href="#") Списком
    a(href="#", class="avtive_nav") На карте
   div(class="maps-body-all")
    .center
     div(class="maps-body-all-block")
      div(class="maps-body-all-item")
       p(class="maps-body-all-head") Ленинский проспект, 20
       span(class="maps-body-all-address") М. Третьяковская, М. Новокузнецкая, М. Полянка
       .row
        div(class="maps-body-all-item-r")
         p(class="maps-body-all-p") Время работы
         span Пн-Пт с 09:00 до 20:00
         span Сб с 10:00 до 18:00
         span Вс с 10:00 до 15:00
        div(class="maps-body-all-item-l")
         p(class="maps-body-all-p") Телефон отделения
         span +7 495 700 8000
         a(href="#")
          span Подробнее
      div(class="maps-body-all-item")
       p(class="maps-body-all-head") Ленинский проспект, 20
       span(class="maps-body-all-address") М. Третьяковская, М. Новокузнецкая, М. Полянка
       .row
        div(class="maps-body-all-item-r")
         p(class="maps-body-all-p") Время работы
         span Пн-Пт с 09:00 до 20:00
         span Сб с 10:00 до 18:00
         span Вс с 10:00 до 15:00
        div(class="maps-body-all-item-l")
         p(class="maps-body-all-p") Телефон отделения
         span +7 495 700 8000
         a(href="#")
          span Подробнее
      div(class="maps-body-all-item")
       p(class="maps-body-all-head") Ленинский проспект, 20
       span(class="maps-body-all-address") М. Третьяковская, М. Новокузнецкая, М. Полянка
       .row
        div(class="maps-body-all-item-r")
         p(class="maps-body-all-p") Время работы
         span Пн-Пт с 09:00 до 20:00
         span Сб с 10:00 до 18:00
         span Вс с 10:00 до 15:00
        div(class="maps-body-all-item-l")
         p(class="maps-body-all-p") Телефон отделения
         span +7 495 700 8000
         a(href="#")
          span Подробнее

    