section(class="maps")
  .center
   div(class="maps-nav")
    a(href="#", class="avtive_nav") Списком
    a(href="#") На карте
   div(class="maps-body")
    div(class="maps-items")
     .row
      div(class="col-md-6 maps-item")
       div(class="iframe_map")
         iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A36de576975b0c11351ee15ac01165fb08627bd92dcf742d055e81433fa313de6&amp;source=constructor" width="690" height="232" frameborder="0")
      div(class="col-md-6 maps-item")
       p(class="maps-p") 
        a(href="#") Ленинский проспект, 20
       span(class="maps-span") М. Третьяковская, М. Новокузнецкая, М. Полянка
       .row
         div(class="col-md-6 maps-bl")
          p(class="address-block-time-p") Время работы
          span(class="address-block-time-span") Пн-Пт с 09:00 до 20:00
          span(class="address-block-time-span") Сб с 10:00 до 18:00
          span(class="address-block-time-span") Вс с 10:00 до 15:00
         div(class="col-md-6 maps-bl")
          p(class="address-block-time-p") Телефон отделения
          span(class="address-block-time-span") +7 495 700 8000
       div(class="address-block-btn")
         button записаться на прием
         a(href="#") Подробнее
    div(class="maps-items")
     .row
      div(class="col-md-6 maps-item")
       div(class="iframe_map")
         iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A36de576975b0c11351ee15ac01165fb08627bd92dcf742d055e81433fa313de6&amp;source=constructor" width="690" height="345" frameborder="0")
      div(class="col-md-6 maps-item")
       p(class="maps-p") 
        a(href="#") Ленинский проспект, 20
       span(class="maps-span") М. Третьяковская, М. Новокузнецкая, М. Полянка
       .row
         div(class="col-md-6 maps-bl")
          p(class="address-block-time-p") Время работы
          span(class="address-block-time-span") Пн-Пт с 09:00 до 20:00
          span(class="address-block-time-span") Сб с 10:00 до 18:00
          span(class="address-block-time-span") Вс с 10:00 до 15:00
         div(class="col-md-6 maps-bl")
          p(class="address-block-time-p") Телефон отделения
          span(class="address-block-time-span") +7 495 700 8000
       div(class="address-block-btn")
         button записаться на прием
         a(href="#") Подробнее
    div(class="maps-items")
     .row
      div(class="col-md-6 maps-item")
       div(class="iframe_map")
         iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A36de576975b0c11351ee15ac01165fb08627bd92dcf742d055e81433fa313de6&amp;source=constructor" width="690" height="345" frameborder="0")
      div(class="col-md-6 maps-item")
       p(class="maps-p") 
        a(href="#") Ленинский проспект, 20
       span(class="maps-span") М. Третьяковская, М. Новокузнецкая, М. Полянка
       .row
         div(class="col-md-6 maps-bl")
          p(class="address-block-time-p") Время работы
          span(class="address-block-time-span") Пн-Пт с 09:00 до 20:00
          span(class="address-block-time-span") Сб с 10:00 до 18:00
          span(class="address-block-time-span") Вс с 10:00 до 15:00
         div(class="col-md-6 maps-bl")
          p(class="address-block-time-p") Телефон отделения
          span(class="address-block-time-span") +7 495 700 8000
       div(class="address-block-btn")
         button записаться на прием
         a(href="#") Подробнее