section(class="maps")
  .center
   div(class="maps-nav")
    a(href="#", class="avtive_nav") Списком
    a(href="#") На карте
   div(class="maps-body")
    div(class="maps-items")
     .row
      div(class="col-md-6 maps-item")
       img(src="images/loc2.png")
      div(class="col-md-6 maps-item")
       p(class="maps-p") Ленинский проспект, 20
       span(class="maps-span") М. Третьяковская, М. Новокузнецкая, М. Полянка
       .row
         div(class="col-md-6 maps-bl")
          p(class="address-block-time-p") Время работы
          span(class="address-block-time-span") Пн-Пт с 09:00 до 20:00
          span(class="address-block-time-span") Сб с 10:00 до 18:00
          span(class="address-block-time-span") Вс с 10:00 до 15:00
         div(class="col-md-6 maps-bl")
          p(class="address-block-time-p") Телефон отделения
          span(class="address-block-time-span") +7 495 700 8000
       div(class="address-block-btn")
         button записаться на прием
         a(href="#") Подробнее
    div(class="maps-items")
     .row
      div(class="col-md-6 maps-item")
       img(src="images/loc2.png")
      div(class="col-md-6 maps-item")
       p(class="maps-p") Ленинский проспект, 20
       span(class="maps-span") М. Третьяковская, М. Новокузнецкая, М. Полянка
       .row
         div(class="col-md-6 maps-bl")
          p(class="address-block-time-p") Время работы
          span(class="address-block-time-span") Пн-Пт с 09:00 до 20:00
          span(class="address-block-time-span") Сб с 10:00 до 18:00
          span(class="address-block-time-span") Вс с 10:00 до 15:00
         div(class="col-md-6 maps-bl")
          p(class="address-block-time-p") Телефон отделения
          span(class="address-block-time-span") +7 495 700 8000
       div(class="address-block-btn")
         button записаться на прием
         a(href="#") Подробнее
    div(class="maps-items")
     .row
      div(class="col-md-6 maps-item")
       img(src="images/loc2.png")
      div(class="col-md-6 maps-item")
       p(class="maps-p") Ленинский проспект, 20
       span(class="maps-span") М. Третьяковская, М. Новокузнецкая, М. Полянка
       .row
         div(class="col-md-6 maps-bl")
          p(class="address-block-time-p") Время работы
          span(class="address-block-time-span") Пн-Пт с 09:00 до 20:00
          span(class="address-block-time-span") Сб с 10:00 до 18:00
          span(class="address-block-time-span") Вс с 10:00 до 15:00
         div(class="col-md-6 maps-bl")
          p(class="address-block-time-p") Телефон отделения
          span(class="address-block-time-span") +7 495 700 8000
       div(class="address-block-btn")
         button записаться на прием
         a(href="#") Подробнее