section(class="offers")
 .offers-body
  .offers-block
   .center
    .offers-item
     .row
      div(class="col-md-6 offers-bl")
       a(href="#" class="offers-img")
        img(src="images/tooth2.png")
      div(class="col-md-6 offers-bl")
       a(href="#" class="offers-p") Имплантация до 1 мая со скидкой 10%
       span(class="offers-span")
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии!
       span(class="offers-untill") до 25 мая 2019
       .offers-footer
        .row
         span(class="offers-footer-span1") -1 000 
          span(class="circel_m") ₽
         span(class="offers-footer-span2") 
          | не более 50 000 
          span(class="circel_m") ₽
          br 
          | в общей сложности
         a(href="#", class="offers-link") Подробнее
  .offers-block
   .center
    .offers-item
     .row
      div(class="col-md-6 offers-bl")
       a(href="#" class="offers-img")
        img(src="images/tooth2.png")
      div(class="col-md-6 offers-bl")
       a(href="#" class="offers-p") 10% скидки за каждого друга
       span(class="offers-span")
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии!
       span(class="offers-untill") до 25 мая 2019
       .offers-footer
        .row
         span(class="offers-footer-span1") -10%
         span(class="offers-footer-span2") 
          | - 10% скидки за каждого
          br
          | друга, но не более 50%
         a(href="#", class="offers-link") Подробнее
  .offers-block
   .center
    .offers-item
     .row
      div(class="col-md-6 offers-bl")
       a(href="#" class="offers-img")
        img(src="images/tooth2.png")
      div(class="col-md-6 offers-bl")
       a(href="#" class="offers-p") Имплантация до 1 мая со скидкой 10%
       span(class="offers-span")
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии!
       span(class="offers-untill") до 25 мая 2019
       .offers-footer
        .row
         span(class="offers-footer-span1") -1 000 
          span(class="circel_m") ₽
         span(class="offers-footer-span2") 
          | не более 50 000 
          span(class="circel_m") ₽
          br 
          | в общей сложности
         a(href="#", class="offers-link") Подробнее
  .offers-block
   .center
    .offers-item
     .row
      div(class="col-md-6 offers-bl")
       a(href="#" class="offers-img")
        img(src="images/tooth2.png")
      div(class="col-md-6 offers-bl")
       a(href="#" class="offers-p") 10% скидки за каждого друга
       span(class="offers-span")
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии!
       span(class="offers-untill") до 25 мая 2019
       .offers-footer
        .row
         span(class="offers-footer-span1") -10%
         span(class="offers-footer-span2") 
          | - 10% скидки за каждого
          br
          | друга, но не более 50%
         a(href="#", class="offers-link") Подробнее
  .offers-block
   .center
    .offers-item
     .row
      div(class="col-md-6 offers-bl")
       a(href="#" class="offers-img")
        img(src="images/tooth2.png")
      div(class="col-md-6 offers-bl")
       a(href="#" class="offers-p") Имплантация до 1 мая со скидкой 10%
       span(class="offers-span")
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии!
       span(class="offers-untill") до 25 мая 2019
       .offers-footer
        .row
         span(class="offers-footer-span1") -1 000 
          span(class="circel_m") ₽
         span(class="offers-footer-span2") 
          | не более 50 000 
          span(class="circel_m") ₽
          br 
          | в общей сложности
         a(href="#", class="offers-link") Подробнее
  .offers-block
   .center
    .offers-item
     .row
      div(class="col-md-6 offers-bl")
       a(href="#" class="offers-img")
        img(src="images/tooth2.png")
      div(class="col-md-6 offers-bl")
       a(href="#" class="offers-p") 10% скидки за каждого друга
       span(class="offers-span")
        | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии!
       span(class="offers-untill") до 25 мая 2019
       .offers-footer
        .row
         span(class="offers-footer-span1") -10%
         span(class="offers-footer-span2") 
          | - 10% скидки за каждого
          br
          | друга, но не более 50%
         a(href="#", class="offers-link") Подробнее