section(class="our-expert") 
 .center
   h3(class="our-expert-head") Наши специалисты
   span(class='our-expert-span') Небольшой текст о квалификации, образовании и большом опыте работы врачей
   div(class="our-expert-slider top-slider")
    div(class="slider5-1 swiper-container")
     .swiper-wrapper
      div(class="swiper-slide")
       a(href='#', class="slider-expert-block")
        img(src="images/our-expert.png")
        .slider-expert-bl
         p(class="expert-name") 
          | Иванов 
          br
          | Владимир Петрович
         p(class="our-expert-p") Специализация
         .slider-ex-bl
          span(class="expert-line") Стоматолог-имплантолог,
          span(class="expert-line") стоматолог-терапевт,
          span(class="expert-line") стоматолог-ортопед 
         .row
          div(class="experience-block col-xs-6")
           p(class="our-expert-p") Опыт работы
           span 15 лет
          div(class="expert-sign-up col-xs-6")
           button записаться
          div(class="expert-mark") 
           div
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span")
           span 25 отзывов
      div(class="swiper-slide")
       a(href='#', class="slider-expert-block")
        img(src="images/our-expert.png")
        .slider-expert-bl
         p(class="expert-name") 
          | Иванов 
          br
          | Владимир Петрович
         p(class="our-expert-p") Специализация
         .slider-ex-bl
          span(class="expert-line") Стоматолог-имплантолог,
          span(class="expert-line") стоматолог-терапевт,
          span(class="expert-line") стоматолог-ортопед 
         .row
          div(class="experience-block col-xs-6")
           p(class="our-expert-p") Опыт работы
           span 15 лет
          div(class="expert-sign-up col-xs-6")
           button записаться
          div(class="expert-mark") 
           div
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span")
           span 25 отзывов
      div(class="swiper-slide")
       a(href='#', class="slider-expert-block")
        img(src="images/our-expert.png")
        .slider-expert-bl
         p(class="expert-name") 
          | Иванов 
          br
          | Владимир Петрович
         p(class="our-expert-p") Специализация
         .slider-ex-bl
          span(class="expert-line") Стоматолог-имплантолог,
          span(class="expert-line") стоматолог-терапевт,
          span(class="expert-line") стоматолог-ортопед 
         .row
          div(class="experience-block col-xs-6")
           p(class="our-expert-p") Опыт работы
           span 15 лет
          div(class="expert-sign-up col-xs-6")
           button записаться
          div(class="expert-mark") 
           div
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span")
           span 25 отзывов
      div(class="swiper-slide")
       a(href='#', class="slider-expert-block")
        img(src="images/our-expert.png")
        .slider-expert-bl
         p(class="expert-name") 
          | Иванов 
          br
          | Владимир Петрович
         p(class="our-expert-p") Специализация
         .slider-ex-bl
          span(class="expert-line") Стоматолог-имплантолог,
          span(class="expert-line") стоматолог-терапевт,
          span(class="expert-line") стоматолог-ортопед 
         .row
          div(class="experience-block col-xs-6")
           p(class="our-expert-p") Опыт работы
           span 15 лет
          div(class="expert-sign-up col-xs-6")
           button записаться
          div(class="expert-mark") 
           div
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span")
           span 25 отзывов
      div(class="swiper-slide")
       a(href='#', class="slider-expert-block")
        img(src="images/our-expert.png")
        .slider-expert-bl
         p(class="expert-name") 
          | Иванов 
          br
          | Владимир Петрович
         p(class="our-expert-p") Специализация
         .slider-ex-bl
          span(class="expert-line") Стоматолог-имплантолог,
          span(class="expert-line") стоматолог-терапевт,
          span(class="expert-line") стоматолог-ортопед 
         .row
          div(class="experience-block col-xs-6")
           p(class="our-expert-p") Опыт работы
           span 15 лет
          div(class="expert-sign-up col-xs-6")
           button записаться
          div(class="expert-mark") 
           div
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span")
           span 25 отзывов
    div(class="swiper-button-prev swiper-button-prev51")
    div(class="swiper-button-next swiper-button-next51")
   div(class="our-expert-slider")
    div(class="slider5 swiper-container")
     .swiper-wrapper
      div(class="swiper-slide")
       a(href='#', class="slider-expert-block")
        img(src="images/our-expert.png")
        .slider-expert-bl
         p(class="expert-name") 
          | Иванов 
          br
          | Владимир Петрович
         p(class="our-expert-p") Специализация
         .slider-ex-bl
          span(class="expert-line") Стоматолог-имплантолог,
          span(class="expert-line") стоматолог-терапевт,
          span(class="expert-line") стоматолог-ортопед 
         .row
          div(class="experience-block col-xs-6")
           p(class="our-expert-p") Опыт работы
           span 15 лет
          div(class="expert-sign-up col-xs-6")
           button записаться
          div(class="expert-mark") 
           div
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span")
           span 25 отзывов
      div(class="swiper-slide")
       a(href='#', class="slider-expert-block")
        img(src="images/our-expert.png")
        .slider-expert-bl
         p(class="expert-name") 
          | Иванов 
          br
          | Владимир Петрович
         p(class="our-expert-p") Специализация
         .slider-ex-bl
          span(class="expert-line") Стоматолог-имплантолог,
          span(class="expert-line") стоматолог-терапевт,
          span(class="expert-line") стоматолог-ортопед 
         .row
          div(class="experience-block col-xs-6")
           p(class="our-expert-p") Опыт работы
           span 15 лет
          div(class="expert-sign-up col-xs-6")
           button записаться
          div(class="expert-mark") 
           div
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span")
           span 25 отзывов
      div(class="swiper-slide")
       a(href='#', class="slider-expert-block")
        img(src="images/our-expert.png")
        .slider-expert-bl
         p(class="expert-name") 
          | Иванов 
          br
          | Владимир Петрович
         p(class="our-expert-p") Специализация
         .slider-ex-bl
          span(class="expert-line") Стоматолог-имплантолог,
          span(class="expert-line") стоматолог-терапевт,
          span(class="expert-line") стоматолог-ортопед 
         .row
          div(class="experience-block col-xs-6")
           p(class="our-expert-p") Опыт работы
           span 15 лет
          div(class="expert-sign-up col-xs-6")
           button записаться
          div(class="expert-mark") 
           div
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span")
           span 25 отзывов
      div(class="swiper-slide")
       a(href='#', class="slider-expert-block")
        img(src="images/our-expert.png")
        .slider-expert-bl
         p(class="expert-name") 
          | Иванов 
          br
          | Владимир Петрович
         p(class="our-expert-p") Специализация
         .slider-ex-bl
          span(class="expert-line") Стоматолог-имплантолог,
          span(class="expert-line") стоматолог-терапевт,
          span(class="expert-line") стоматолог-ортопед 
         .row
          div(class="experience-block col-xs-6")
           p(class="our-expert-p") Опыт работы
           span 15 лет
          div(class="expert-sign-up col-xs-6")
           button записаться
          div(class="expert-mark") 
           div
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span")
           span 25 отзывов
      div(class="swiper-slide")
       a(href='#', class="slider-expert-block")
        img(src="images/our-expert.png")
        .slider-expert-bl
         p(class="expert-name") 
          | Иванов 
          br
          | Владимир Петрович
         p(class="our-expert-p") Специализация
         .slider-ex-bl
          span(class="expert-line") Стоматолог-имплантолог,
          span(class="expert-line") стоматолог-терапевт,
          span(class="expert-line") стоматолог-ортопед 
         .row
          div(class="experience-block col-xs-6")
           p(class="our-expert-p") Опыт работы
           span 15 лет
          div(class="expert-sign-up col-xs-6")
           button записаться
          div(class="expert-mark") 
           div
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span")
           span 25 отзывов
      
      
    div(class="swiper-button-prev swiper-button-prev5")
    div(class="swiper-button-next swiper-button-next5")
    div(class="swiper-pagination swiper-pagination5")
   .our-expert-link
    a(href="#", class="site-link") 
     div Весь список врачей
