section(class="press")
 .press-body
  .press-block
   .center
    .press-item
     p(class="press-p") Название статьи
     span(class="press-span")
      | Вступительный текст про статью. Кариес – неприятное заболевание, которое проявляется в начале своего развития некрасивыми коричневыми пятнами на поверхности зубов, а потом приводит к активному разрушению эмали.
     .row
      div(class="col-md-6 press-bl")
       span 21.01.2019
      div(class="col-md-6 press-bl")
       span The New York Times
       img(src="images/newyork.png")
  .press-block
   .center
    .press-item
     p(class="press-p") Название статьи
     span(class="press-span")
      | Вступительный текст про статью. Кариес – неприятное заболевание, которое проявляется в начале своего развития некрасивыми коричневыми пятнами на поверхности зубов, а потом приводит к активному разрушению эмали.
     .row
      div(class="col-md-6 press-bl")
       span 21.01.2019
      div(class="col-md-6 press-bl")
       span Ведомости
       img(src="images/ved.png")
  div(class="discount")
   .center
    .discount-block
     p(class="discount-p") Белоснежная улыбка на 8 марта
     span(class="discount-span") -50%
  .press-block
   .center
    .press-item
     p(class="press-p") Название статьи
     span(class="press-span")
      | Вступительный текст про статью. Кариес – неприятное заболевание, которое проявляется в начале своего развития некрасивыми коричневыми пятнами на поверхности зубов, а потом приводит к активному разрушению эмали.
     .row
      div(class="col-md-6 press-bl")
       span 21.01.2019
      div(class="col-md-6 press-bl")
       span The New York Times
       img(src="images/newyork.png")
  .press-block
   .center
    .press-item
     p(class="press-p") Название статьи
     span(class="press-span")
      | Вступительный текст про статью. Кариес – неприятное заболевание, которое проявляется в начале своего развития некрасивыми коричневыми пятнами на поверхности зубов, а потом приводит к активному разрушению эмали.
     .row
      div(class="col-md-6 press-bl")
       span 21.01.2019
      div(class="col-md-6 press-bl")
       span Ведомости
       img(src="images/ved.png")
 .pagination
  .center
   .pagination-block
    a(href="#", class="active_a") 1
    a(href="#") 2
    a(href="#") 3
    a(href="#") 4
    a(href="#") 5
    span ...
    a(href="#") 11
    a(href="#") 12
    a(href="#", class="next-page") Далее
