section(class="price-slider")
   .center
    p(class="price-slider-p") Вам также может быть интересно
    div(class="price-slider-bl")
     div(class="slider7 swiper-container")
      .swiper-wrapper
       div(class="slider-block7 swiper-slide")
        div(class="price_pop")
         img(src="images/comment-slider.png")
        span(class="price-slider-txt") Текст ссылки от 1 слова до 5 слов
        span(class="price-slider-span") Цена от
        span(class="price-slider-s") 1 000
         span(class="circel_m") ₽
        span(class="price_pop price_ll") ЗАПИСАТЬСЯ
       div(class="slider-block7 swiper-slide")
        div(class="price_pop")
         img(src="images/comment-slider.png")
        span(class="price-slider-txt") Текст ссылки от 1 слова до 5 слов
        span(class="price-slider-span") Цена от
        span(class="price-slider-s") 1 000
         span(class="circel_m") ₽
        span(class="price_pop price_ll") ЗАПИСАТЬСЯ
       div(class="slider-block7 swiper-slide")
        div(class="price_pop")
         img(src="images/comment-slider.png")
        span(class="price-slider-txt") Текст ссылки от 1 слова до 5 слов
        span(class="price-slider-span") Цена от
        span(class="price-slider-s") 1 000
         span(class="circel_m") ₽
        span(class="price_pop price_ll") ЗАПИСАТЬСЯ
       div(class="slider-block7 swiper-slide")
        div(class="price_pop")
         img(src="images/comment-slider.png")
        span(class="price-slider-txt") Текст ссылки от 1 слова до 5 слов
        span(class="price-slider-span") Цена от
        span(class="price-slider-s") 1 000
         span(class="circel_m") ₽
        span(class="price_pop price_ll") ЗАПИСАТЬСЯ
       div(class="slider-block7 swiper-slide")
        div(class="price_pop")
         img(src="images/comment-slider.png")
        span(class="price-slider-txt") Текст ссылки от 1 слова до 5 слов
        span(class="price-slider-span") Цена от
        span(class="price-slider-s") 1 000
         span(class="circel_m") ₽
        span(class="price_pop price_ll") ЗАПИСАТЬСЯ
       div(class="slider-block7 swiper-slide")
        div(class="price_pop")
         img(src="images/comment-slider.png")
        span(class="price-slider-txt") Текст ссылки от 1 слова до 5 слов
        span(class="price-slider-span") Цена от
        span(class="price-slider-s") 1 000
         span(class="circel_m") ₽
        span(class="price_pop price_ll") ЗАПИСАТЬСЯ
       div(class="slider-block7 swiper-slide")
        div(class="price_pop")
         img(src="images/comment-slider.png")
        span(class="price-slider-txt") Текст ссылки от 1 слова до 5 слов
        span(class="price-slider-span") Цена от
        span(class="price-slider-s") 1 000
         span(class="circel_m") ₽
        span(class="price_pop price_ll") ЗАПИСАТЬСЯ

     div(class="swiper-button-prev swiper-button-prev7")
     div(class="swiper-button-next swiper-button-next7")