section(class="price")
 .center
   h2 Стоимость профессиональной чистки зубов
   span(class='price-span') 
    | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
   div(class="price-block")
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Первичный осмотр и консультация
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span Бесплатно
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#", class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Лечение кариеса
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span от 1 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#", class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Световая пломба
       div(class="price-cont col-sm-6 stock")        
        .price-contbl
         p Цена
         span от 7 000
          span(class="circel_m") ₽
        .stock-block
         p акция до 22 сентября
         span от 5 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#", class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Снятие зубных отложений
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span от 1 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#", class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Профессиональная чистка зубов
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span от 1 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#", class="rice-link") Подробнее об услуге