div(class="comment-slider")
     div(class="slider3 swiper-container")
      .swiper-wrapper
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
       div(class="slider-block3 swiper-slide")
        img(src="images/comment-slider.png")
     .swiper-button-prev
     .swiper-button-next