section(class="questions")
 .center
  .row
   div(class="col-lg-6 questions-block")
    div
     p Вопросы и ответы
     ul
      li
       a(href="#") Можно ли летать на самолете после имплантации?
      li
       a(href="#") Как ухаживать за зубными имплантами?
      li
       a(href="#") Как выбрать зубную пасту?
      li
       a(href="#") Как снимают временные коронки?
      li
       a(href="#") Сколько можно носить временные коронки?
     a(href="#")(class="quest-all") Все вопросы и ответы
   div(class="col-lg-6 questions-block")
    div
     p Энциклопедия
     ul
      li
       a(href="#") Можно ли летать на самолете после имплантации?
      li
       a(href="#") Как ухаживать за зубными имплантами?
      li
       a(href="#") Как выбрать зубную пасту?
      li
       a(href="#") Как снимают временные коронки?
      li
       a(href="#") Сколько можно носить временные коронки?
     a(href="#")(class="quest-all") Все статьи