section(class="search")
 .center
  .seacrh-bl
   input(type="text", placeholder="ПОИСК ПО НАЗВАНИЮ УСЛУГИ")
  .categor-block
   a(href="#", class="serv_btn_all btn_active") Все
   a(href="#", class="serv_btn") Детская стоматология
   a(href="#", class="serv_btn") Диагностика заболеваний
   a(href="#", class="serv_btn") Гигиена и профилактика
   a(href="#", class="serv_btn") Хирургическая стоматология
   a(href="#", class="serv_btn") Имплантология
   a(href="#", class="serv_btn") Ортодонтия
   a(href="#", class="serv_btn") Пародонтология
   a(href="#", class="serv_btn") Терапевтическая стоматология
   a(href="#", class="serv_btn") Эндодонтия
   a(href="#", class="serv_btn") Эстетическая стоматология
   a(href="#", class="serv_btn") Лазерная стоматология
   a(href="#", class="serv_btn") Протезирование зубов
 div(class="services-filter btn_active")
  div(class="services-filter-block btn_active")
   h2(class="searc-serv-head") Детская стоматология
   .center
    div(class="row serv-bl")
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Винирование зубов (виниры)
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 2 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Косметическая реставрация зубов
       .stock-block
        p акция до 22 сентября
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Люминиры
       span Цена от 1 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Винирование зубов (виниры)
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 2 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Косметическая реставрация зубов
       .stock-block
        p акция до 22 сентября
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Люминиры
       span Цена от 1 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Винирование зубов (виниры)
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 2 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Косметическая реставрация зубов
       .stock-block
        p акция до 22 сентября
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Люминиры
       span Цена от 1 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ до 
        | 5 000 
        span(class="circel_m") ₽
        a(href="#")(class="stomatology-block-list")
         p Винирование зубов (виниры)
         span Цена от 1 000 
          span(class="circel_m") ₽ до 
          | 2 000 
          span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Косметическая реставрация зубов
       .stock-block
        p акция до 22 сентября
       span Цена от 1 000 
        span(class="circel_m") ₽ до 
        | 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Люминиры
       span Цена от 1 000 
        span(class="circel_m") ₽
  div(class="services-filter-block btn_active")
   h2(class="searc-serv-head") Диагностика заболеваний
   .center
    div(class="row serv-bl")
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Винирование зубов (виниры)
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 2 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Косметическая реставрация зубов
       .stock-block
        p акция до 22 сентября
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Люминиры
       span Цена от 1 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Винирование зубов (виниры)
       span Цена от 1 000 
        span(class="circel_m") ₽
        | до 2 000
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Косметическая реставрация зубов
       .stock-block
        p акция до 22 сентября
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Люминиры
       span Цена от 1 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Винирование зубов (виниры)
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 2 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Косметическая реставрация зубов
       .stock-block
        p акция до 22 сентября
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Люминиры
       span Цена от 1 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Винирование зубов (виниры)
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 2 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Косметическая реставрация зубов
       .stock-block
        p акция до 22 сентября
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Люминиры
       span Цена от 1 000 
        span(class="circel_m") ₽
  div(class="services-filter-block btn_active")
   h2(class="searc-serv-head") Гигиена и профилактика
   div(class="discount")
    .center
     .discount-block
      p(class="discount-p") Белоснежная улыбка на 8 марта
      span(class="discount-span") -50%
   .center
    div(class="row serv-bl")
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Винирование зубов (виниры)
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 2 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Косметическая реставрация зубов
       .stock-block
        p акция до 22 сентября
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Люминиры
       span Цена от 1 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Винирование зубов (виниры)
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 2 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Косметическая реставрация зубов
       .stock-block
        p акция до 22 сентября
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Люминиры
       span Цена от 1 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Винирование зубов (виниры)
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 2 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Косметическая реставрация зубов
       .stock-block
        p акция до 22 сентября
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Люминиры
       span Цена от 1 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Винирование зубов (виниры)
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 2 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Косметическая реставрация зубов
       .stock-block
        p акция до 22 сентября
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Люминиры
       span Цена от 1 000 
        span(class="circel_m") ₽
  div(class="services-filter-block btn_active")
   h2(class="searc-serv-head") Хирургическая стоматология
   .center
    div(class="row serv-bls")
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
  div(class="services-filter-block btn_active")
   h3(class="searc-serv-head-small") Ортогнатическая хирургия
   .center
    div(class="row serv-bls")
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
  div(class="services-filter-block btn_active")
   h3(class="searc-serv-head-small") Зубосохраняющие операции
   .center
    div(class="row serv-bls")
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Косметическая реставрация зубов
       .stock-block
        p акция до 22 сентября
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Винирование зубов (виниры)
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 2 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Винирование зубов (виниры)
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 2 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Винирование зубов (виниры)
       span Цена от 1 000 
        span(class="circel_m") ₽ до 2 000 
        span(class="circel_m") ₽
  div(class="services-filter-block btn_active")
   h3(class="searc-serv-head-small") Удаление зуба
   .center
    div(class="row serv-bls")
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ до 
        | 5 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
      a(href="#")(class="stomatology-block-list")
       p Ультразвуковая чистка зубов
       span Цена от 1 000 
        span(class="circel_m") ₽ 
        | до 5 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
  div(class="services-filter-block btn_active")
   h3(class="searc-serv-head-small") Хирургическое вмешательство при воспалительных процессах
   .center
    div(class="row serv-bls")
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
     div(class="stomatology-block-s col-lg-3 col-md-6")
      a(href="#")(class="stomatology-block-list")
       p Отбеливание зубов
       span Цена от 1 000 
        span(class="circel_m") ₽
    