section(class="search")
 .center
  .seacrh-bl
   input(type="text", placeholder="ПОИСК ПО НАЗВАНИЮ УСЛУГИ")
  .categor-block
   a(href="#", class="btn_active") Все
   a(href="#") Детская стоматология
   a(href="#") Диагностика заболеваний
   a(href="#") Гигиена и профилактика
   a(href="#") Хирургическая стоматология
   a(href="#") Имплантология
   a(href="#") Ортодонтия
   a(href="#") Пародонтология
   a(href="#") Терапевтическая стоматология
   a(href="#") Эндодонтия
   a(href="#") Эстетическая стоматология
   a(href="#") Лазерная стоматология
   a(href="#") Протезирование зубов
  p(class="price-head") Детская стоматология
  div(class="price-block")
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Первичный осмотр и консультация
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span Бесплатно
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Лечение кариеса
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span от 1 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Световая пломба
       div(class="price-cont col-sm-6 stock")        
        .price-contbl
         p Цена
         span от 7 000
          span(class="circel_m") ₽
        .stock-block
         p акция до 22 сентября
         span от 5 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Снятие зубных отложений
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span от 1 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Профессиональная чистка зубов
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span от 1 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге

  p(class="price-head") Диагностика заболеваний
  div(class="price-block")
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Первичный осмотр и консультация
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span Бесплатно
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Лечение кариеса
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span от 1 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Световая пломба
       div(class="price-cont col-sm-6 stock")        
        .price-contbl
         p Цена
         span от 7 000
          span(class="circel_m") ₽
        .stock-block
         p акция до 22 сентября
         span от 5 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Снятие зубных отложений
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span от 1 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Профессиональная чистка зубов
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span от 1 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге
  p(class="price-head") Гигиена и профилактика
  .mini-discount-price
     .center
      .row
       a(href="#")(class="mini-discount-items col-lg-6")
        div(class="mini-discount-item1")
         p Белоснежная улыбка на 8 марта
         span -50%
        p(class="mini-discount-items-p mini-s-d1")
         | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
       a(href="#")(class="mini-discount-items col-lg-6")
        div(class="mini-discount-item2")
         p Имплантация Nobel по специальной цене
         span -10%
        p(class="mini-discount-items-p mini-s-d2")
         | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
  
  p(class="price-head") Хирургическая стоматология
  div(class="price-block")
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Первичный осмотр и консультация
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span Бесплатно
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Лечение кариеса
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span от 1 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Световая пломба
       div(class="price-cont col-sm-6 stock")        
        .price-contbl
         p Цена
         span от 7 000
          span(class="circel_m") ₽
        .stock-block
         p акция до 22 сентября
         span от 5 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Снятие зубных отложений
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span от 1 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге
    div(class="price-nav")
     div(class="price-nav-block")
      .row
       div(class="price-btn col-sm-6")
        span Профессиональная чистка зубов
       div(class="price-cont col-sm-6")
        .price-contbl
         p Цена
         span от 1 000
          span(class="circel_m") ₽
     .price-nav-items
       p(class="rice-nav-items-p") 
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="rice-nav-items-span") В стоимость входит:
       ul
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
        li Название пункта, который входит в стоимость 
       a(href="#")(class="rice-link") Подробнее об услуге

