section(class="sertifikat") 
 h2(class="sertifikat-head") Сертификаты
 .center
  .row
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Ортопедическая стоматология, 2006
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Хирургическая стоматология и имплантология, 2013
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Ортопедическая стоматология, 2006
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Ортопедическая стоматология, 2006
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Ортопедическая стоматология, 2006
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Ортопедическая стоматология, 2006
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Ортопедическая стоматология, 2006
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Хирургическая стоматология и имплантология, 2013
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Ортопедическая стоматология, 2006
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Ортопедическая стоматология, 2006
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Ортопедическая стоматология, 2006
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Ортопедическая стоматология, 2006
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Ортопедическая стоматология, 2006
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Хирургическая стоматология и имплантология, 2013
   div(class="col-lg-2 col-md-3 col-sm-4 col-6 sertifikat-block")
    .sertifikat-items
     img(src="images/sertifikat.png")
     span(class="sertifikat-span") Ортопедическая стоматология, 2006

