section(class="stomatology") 
 .center
  h2(class="stomatology-p") Услуги стоматологии
  span(class="stomatology-span") Небольшой текст о большом спектре и качестве услуг
  .row
   div(class="stomatology-block col-lg-4 col-md-6")
    div(class="stm-block-p")
     p(class="stomatology-block-p")
      a(href="#") Эстетическая стоматология
    div(class="stm-hidden-mob")
     a(href="#")(class="stomatology-block-list")
      p Отбеливание зубов
      span Цена от 1 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Ультразвуковая чистка зубов
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 5 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Винирование зубов (виниры)
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 2 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Косметическая реставрация зубов
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 5 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Люминиры
      span Цена от 1 000 
       span(class="circel_m") ₽
   div(class="stomatology-block col-lg-4 col-md-6")
    div(class="stm-block-p cntr")
     p(class="stomatology-block-p cntr")
      a(href="#") Диагностика
    div(class="stm-hidden-mob")
     a(href="#")(class="stomatology-block-list")
      p Отбеливание зубов
      span Цена от 1 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Ультразвуковая чистка зубов
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 5 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Винирование зубов (виниры)
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 2 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Косметическая реставрация зубов
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 5 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Люминиры
      span Цена от 1 000 
       span(class="circel_m") ₽
   div(class="stomatology-block col-lg-4 col-md-6")
    div(class="stm-block-p cntr")
     p(class="stomatology-block-p cntr")
      a(href="#") Профилактика
    div(class="stm-hidden-mob")
     a(href="#")(class="stomatology-block-list")
      p Отбеливание зубов
      span Цена от 1 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Ультразвуковая чистка зубов
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 5 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Винирование зубов (виниры)
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 2 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Косметическая реставрация зубов
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 5 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Люминиры
      span Цена от 1 000 
       span(class="circel_m") ₽
   div(class="stomatology-block col-lg-4 col-md-6")
    div(class="stm-block-p cntr")
     p(class="stomatology-block-p cntr")
      a(href="#") Терапия
    div(class="stm-hidden-mob")
     a(href="#")(class="stomatology-block-list")
      p Отбеливание зубов
      span Цена от 1 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Ультразвуковая чистка зубов
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 5 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Винирование зубов (виниры)
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 2 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Косметическая реставрация зубов
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 5 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Люминиры
      span Цена от 1 000 
       span(class="circel_m") ₽
   div(class="stomatology-block col-lg-4 col-md-6")
    div(class="stm-block-p cntr")
     p(class="stomatology-block-p cntr")
      a(href="#") Хирургия
    div(class="stm-hidden-mob")
     a(href="#")(class="stomatology-block-list")
      p Отбеливание зубов
      span Цена от 1 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Ультразвуковая чистка зубов
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 5 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Винирование зубов (виниры)
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 2 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Косметическая реставрация зубов
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 5 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Люминиры
      span Цена от 1 000 
       span(class="circel_m") ₽
   div(class="stomatology-block col-lg-4 col-md-6")
    div(class="stm-block-p")
     p(class="stomatology-block-p")
      a(href="#") 
       | Детская 
       br
       | стоматология
    div(class="stm-hidden-mob")
     a(href="#")(class="stomatology-block-list")
      p Отбеливание зубов
      span Цена от 1 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Ультразвуковая чистка зубов
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 5 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Винирование зубов (виниры)
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 2 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Косметическая реставрация зубов
      span Цена от 1 000 
       span(class="circel_m") ₽ 
       | до 5 000 
       span(class="circel_m") ₽
     a(href="#")(class="stomatology-block-list")
      p Люминиры
      span Цена от 1 000 
       span(class="circel_m") ₽
   
  .stomatology-link
   a(href="#", onclick='popup("info-popup")', class="site-link") 
    div Полный каталог услуг




