section(class="video-comment")
 .center
   h2(class="comment-head") Видео-отзывы
   div(class="slide1-block")
    div(class="slider1 swiper-container")
     .swiper-wrapper 
      div(class="slider-block swiper-slide")
       span(class="sl-img1")
        img(src="images/lady.png")
        button(class="articles-video")
       div
        p(class="video-comment-p") Отзыв об отделении на Белорусской
        .comment-autor
         .autor-n Ирина
         .comment-date
          span(class="comment-d") 15.03.2019
          span(class="comment-mark mark-blovk1")
           div
            span(class="expert-m-span")
            span(class="expert-m-span")
            span(class="expert-m-span")
            span(class="expert-m-span")
            span(class="expert-m-span")
      div(class="slider-block swiper-slide")
       span(class="sl-img1")
        img(src="images/lady.png")
        button(class="articles-video")
       div
        p(class="video-comment-p") Отзыв об отделении на Белорусской
        .comment-autor
         .autor-n Ирина
         .comment-date
          span(class="comment-d") 15.03.2019
          span(class="comment-mark mark-blovk1")
           div
            span(class="expert-m-span")
            span(class="expert-m-span")
            span(class="expert-m-span")
            span(class="expert-m-span")
            span(class="expert-m-span")
      div(class="slider-block swiper-slide")
       span(class="sl-img1")
        img(src="images/lady.png")
        button(class="articles-video")
       div
        p(class="video-comment-p") Отзыв об отделении на Белорусской
        .comment-autor
         .autor-n Ирина
         .comment-date
          span(class="comment-d") 15.03.2019
          span(class="comment-mark mark-blovk1")
           div
            span(class="expert-m-span")
            span(class="expert-m-span")
            span(class="expert-m-span")
            span(class="expert-m-span")
            span(class="expert-m-span")
      div(class="slider-block swiper-slide")
       span(class="sl-img1")
        img(src="images/lady.png")
        button(class="articles-video")
       div
        p(class="video-comment-p") Отзыв об отделении на Белорусской
        .comment-autor
         .autor-n Ирина
         .comment-date
          span(class="comment-d") 15.03.2019
          span(class="comment-mark mark-blovk1")
           div
            span(class="expert-m-span")
            span(class="expert-m-span")
            span(class="expert-m-span")
            span(class="expert-m-span")
            span(class="expert-m-span")

    div(class="swiper-button-prev swiper-button-prev1")
    div(class="swiper-button-next swiper-button-next1")
    div(class="swiper-pagination swiper-pagination1")