doctype html 
html(lang="en")
 head
 meta(charset="UTF-8")
 meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
 meta(http-equiv="X-UA-Compatible" content="ie=edge")
 meta(name="format-detection" content="telephone=no")
 link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
 link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css")
 link(rel='stylesheet', href='css/styles.css')
 body
  include modules/header
  section(class="account-nav")
   .center
    .account-head
     .row
      div(class="col-md-6 account-head")
       p Олег Петров
      div(class="col-md-6 account-head")
       a(href="#")
        span Выйти
    .account-body
     ul
      li
       a(href="#") Мои бонусы
        span 5
      li
       a(href="#", class="act") Записи на прием
      li
       a(href="#") Личные данные
    .account-block
     span(class="account-span") Назначенных записей нет
  include modules/mini_discount
  include modules/doctors-serch2
  include modules/hospital-loc
  include modules/comment
  include modules/questions

  include modules/footer