doctype html 
html(lang="en")
 head
 meta(charset="UTF-8")
 meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
 meta(http-equiv="X-UA-Compatible" content="ie=edge")
 meta(name="format-detection" content="telephone=no")
 link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
 link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css")
 link(rel='stylesheet', href='css/styles.css')
 body
  include modules/header
  section(class="account-nav")
   .center
    .account-head
     .row
      div(class="col-md-6 account-head")
       p Олег Петров
      div(class="col-md-6 account-head")
       a(href="#")
        span Выйти
    .account-body
     ul
      li
       a(href="#") Мои бонусы
        span 5
      li
       a(href="#") Записи на прием
      li
       a(href="#", class="act") Личные данные
    .profile-block
     form
      .profile-form
       .row
        div(class="shop-cat site-input account-rg-inp")
         p Фамилия
         input(type="text", placeholder="Фамилия", value="Пертров")
        div(class="shop-cat site-input account-rg-inp")
         p Дата рождения
         input(type="text", placeholder="Дата рождения", value="29.03.1982")
        div(class="shop-cat site-input account-rg-inp")
         p Ваше имя
         input(type="text", placeholder="Ваше имя", value="Олег")
        div(class="shop-cat site-input account-rg-inp")
         p Номер телефона
         input(type="text", placeholder="Номер телефона", value="+7 922 233 4455")
        div(class="shop-cat site-input account-rg-inp")
         p Отчество
         input(type="text", placeholder="Отчество")
        div(class="shop-cat site-input account-rg-inp")
         p Email
         input(type="text", placeholder="Email", value="petrov@mail.ru")
      .profile-gender
       p Пол
       label
        input(type="radio", name="gender")
        span Мужской
       label
        input(type="radio", name="gender")
        span Женский
      a(href="#", class="prifile-link")
       span Сохранить изменения
  include modules/footer