doctype html
html(lang="en") 
 head
 meta(charset="UTF-8")
 meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
 meta(http-equiv="X-UA-Compatible" content="ie=edge")
 meta(name="format-detection" content="telephone=no")
 link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
 link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css")
 link(rel='stylesheet', href='css/styles.css')
 body
  include modules/header
  section(class="clinic")
    .clinic-block
     .center
      div(class="clinic-bl withlink")
       div(class="rigth-block", style="background: url(images/servbg.png)no-repeat;background-position: 30px center !important;")
       .withlink-block
        a(href="#") Главная
        a(href="#") Энциклопедия
        span Отбеливание зубов
       h1(class="clinic-block-head") Отбеливание зубов
       span(class="artcl-span")
         | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть».
       div(class="col-md-8 no-padding")
        .article-page-bl
         div
          a(href="#")
           img(src="images/doc.png")
         p Автор статьи — Стоматолог-Терапевт
         a(href="#") Иванов Владимир Петрович
    .mini-discount 
     .center
      .without-slider
       .row
        a(href="#", class="mini-discount-items col-lg-4")
         div(class="mini-discount-item1")
          p Белоснежная улыбка на 8 марта
          span -50%
         p(class="mini-discount-items-p mini-s-d1")
          | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
        a(href="#", class="mini-discount-items col-lg-4")
         div(class="mini-discount-item2")
          p Имплантация Nobel по специальной цене
          span -10%
         p(class="mini-discount-items-p mini-s-d2")
          | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
        a(href="#", class="mini-discount-items col-lg-4")
         div(class="mini-discount-item3")
          p Композитный виниры по специальной цене
          span 9000
           span(class="circel_m") ₽
         p(class="mini-discount-items-p mini-s-d3")
          | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
      div(class="discount-slider")
       div(class="discount-slider-block")
        div(class="slider10 swiper-container")
         .swiper-wrapper
          div(class="swiper-slide")
           a(href="#", class="mini-discount-items")
            div(class="mini-discount-item1")
             p Белоснежная улыбка на 8 марта
             span -50%
          div(class="swiper-slide")
           a(href="#", class="mini-discount-items")
            div(class="mini-discount-item2")
             p Имплантация Nobel по специальной цене
             span -10%
          div(class="swiper-slide")
           a(href="#", class="mini-discount-items")
            div(class="mini-discount-item3")
             p Композитный виниры по специальной цене
             span 9000
              span(class="circel_m") ₽
        .swiper-pagination
  section(class="navigation")
   .center
    p Навигация
    .navigation-link
     a(href="#") Отбеливание зубов
     a(href="#") История развития
     a(href="#") Видео лекция
     a(href="#") Классификация
     a(href="#") Сравнение трех возможностей
     a(href="#") Сравнение двух возможностей
     a(href="#") Галерея фотографий
     a(href="#") Еще блок
     a(href="#") Еще блок
     a(href="#") Список литературы
  section(class="servisec-info artic")
   .center
    h3 Заголовок и вводный текст про услугу
    span 
     | Отбеливание зубов – стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии и имеет ряд сторонников и противников. Сторонники отбеливания зубов считают, что современные методики позволяют достигать значительных результатов при малых рисках для здоровья. Противники же, наоборот, считают что отбеливание зубов может привести к ухудшению здоровья полости рта.
  include modules/price_for_servisec 
  section(class="services-sub-all")
   .center
    .services-sub-all-block
     .services-sub-all-items
      h3(class="services-sub-all-p") История развития
      span(class="services-sub-all-span")
       | Самые ранние упоминания об отбеливании зубов относятся к первому веку нашей эры. Римские врачеватели считали, что использование мочи в значительной мере способствует осветлению зубов.
      span(class="services-sub-all-span")
       | Начиная с XIV по конец конца XVIII столетия, врачеватели славянских народов осуществляли отбеливание зубов при помощи слабого раствора азотной кислоты. Предварительно зубы обрабатывались металлическим напильником: снимался поверхностный слой эмали. Такую технологию применяли Смоляр Н.И., Кононенко В.В., Безвушко Э.В.
      span(class="services-sub-all-span")
       | Начиная с 1848 г. для отбеливания зубов начали применять хлорную известь — раствора кальция гидрохлорида и уксусной кислоты (активным элементом служил хлор). Данную методику предложил Труман.
      div(class="services-sub-all-img")
       img(src="images/girl2.png")
       span(class="services-sub-all-img-span") Изображение в тексте с подписью
      span(class="services-sub-all-span")
       | В конце XIX в. для отбеливания зубов активно начали применять хлорид алюминия, щавелевую кислоту, пирозон (перекисный эфир), водородный диоксид (перекись водорода, или пергидроль), серную кислоту, натрия гипофосфат, хлорную известь и даже цианид калия.[1] В 1918 году был открыт принцип активизации отбеливания с помощью теплового излучения, который с успехом применяется в наше время. Световое излучение высокой интенсивности вызывает быстрый подъём температуры в растворе перекиси водорода, что приводит к бурному ускорению химических процессов отбеливания зубов. В настоящее время наиболее эффективными прямыми окислителями являются пирозон, супероксол и диоксид натрия, непрямыми — производные хлора.
  include modules/search-services2
  section(class="video-answer")
   .center  
    h3 Видео лекция
    div(class="video-answer-block")
     div
      img(src="images/girl4.png")
     button(class="video-btn")
  section(class="services-sub-history")
   .center
    h3(class="services-sub-history-head") Классификация
    .services-sub-history-block
     .services-sub-history-items
      p(class="services-sub-history-p") Отбеливание зубов подразделяется:
      span(class="services-sub-history-span")
       span
       | Домашнее – проводятся в домашних условиях. Применяются разнообразные осветляющие зубные пасты, жвачки с абразивами, специальные средства, приготовленные дома (народные рецепты).
      span(class="services-sub-history-span")
       span
       | Профессиональное — проводятся в стоматологических клиниках при помощи специального оборудования.
     .services-sub-history-items
      p(class="services-sub-history-p") Профессиональное отбеливание зубов подразделяется по методу воздействия:
      span(class="services-sub-history-span")
       span
       | Механическое – очистка эмали путём подачи на неё смеси чистящего порошка с воздухом.
      span(class="services-sub-history-span")
       span
       | Ультразвуковое – воздействие на зубную эмаль ультразвуком. Наиболее щадящий метод, но и наиболее дорогостоящий.
      span(class="services-sub-history-span")
       span
       | Химическое – воздействие на эмаль зуба химическими составами. Наиболее эффективный метод, но имеет множество побочных эффектов. Применение разрешается только на абсолютно здоровых зубах.
      span(class="services-sub-history-span")
       span
       | Лазерное – воздействие на эмаль зуба лазерным лучом. Быстрый и эффективный метод. Значительно отличается от щадящих методов и имеет большую стоимость.
      span(class="services-sub-history-span")
       span
       | Фотоотбеливание – воздействие на эмаль зуба светом, подходит для чувствительных зубов. Применяется достаточно редко, так как требуется высокая квалификация и не всегда даёт желаемый результат – в ряде случаев придаёт неестественный оттенок.
  section(class="doc-advaice")
   .center
    div(class="doc-advaice-block")
     p(class="doc-advaice-head") Мнение эксперта
     div(class="doc-advaice-img")
      div
       img(src="images/doc.png")
      p Стоматолог-Терапевт
      a(href="#") Иванов Владимир Петрович
     div(class="doc-advaice-txt")
      span
       | Домашнее – проводятся в домашних условиях. Применяются разнообразные осветляющие зубные пасты, жвачки с абразивами, специальные средства, приготовленные дома (народные рецепты).
      span 
       | Профессиональное — проводятся в стоматологических клиниках при помощи специального оборудования.
  section(class="white-tooth")
   .center  
    div(class="white-tooth-block")
     h3 Блок текста
     span 
      | В конце XIX в. для отбеливания зубов активно начали применять хлорид алюминия, щавелевую кислоту, пирозон (перекисный эфир), водородный диоксид (перекись водорода, или пергидроль), серную кислоту, натрия гипофосфат, хлорную известь и даже цианид калия.[1] В 1918 году был открыт принцип активизации отбеливания с помощью теплового излучения, который с успехом применяется в наше время. Световое излучение высокой интенсивности вызывает быстрый подъём температуры в растворе перекиси водорода, что приводит к бурному ускорению химических процессов отбеливания зубов. В настоящее время наиболее эффективными прямыми окислителями являются пирозон, супероксол и диоксид натрия, непрямыми — производные хлора.


  section(class="services-illness articl")
   .center
    .row
     div(class="servisec-illness-block col-lg-6")
      div
       p(class="services-sub-result-p") Показания и заболевания
       span(class="services-sub-result-span")
        span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="services-sub-result-span")
        span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="services-sub-result-span")
        span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
     div(class="servisec-illness-block col-lg-6")
      div
       p(class="services-sub-result-p") Противопоказания
       span(class="services-sub-result-span1")
        span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="services-sub-result-span1")
        span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="services-sub-result-span1")
        span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="services-sub-result-span1")
        span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
  section(class="white-tooth")
   .center  
    div(class="white-tooth-block")
     p Сравнение трех возможностей
     span 
      | В конце XIX в. для отбеливания зубов активно начали применять хлорид алюминия, щавелевую кислоту, пирозон (перекисный эфир), водородный диоксид (перекись водорода, или пергидроль), серную кислоту, натрия гипофосфат, хлорную известь и даже цианид калия.[1] В 1918 году был открыт принцип активизации отбеливания с помощью теплового излучения, который с успехом применяется в наше время.
  section(class="article-tree-variant")
   .center
    div(class="article-tree-variant-block")
     .row
      div(class="article-variant-items col-md-4 col-sm-6")
        div(class="article-variant-item")
         div(class="article-variant-item-head")
          p Вариант 1
          span(class="article-variant-item-txt")
           | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии!
          div(class="article-variant-param")
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
         div(class="article-variant-item-footer")
          .row
           span(class="article-variant-total") Итого
           span(class="article-variant-price") 100 000
            span(class="circel_m") ₽
          a(href="#")
           span записаться на прием
      div(class="article-variant-items col-md-4 col-sm-6")
        div(class="article-variant-item")
         div(class="article-variant-item-head")
          p Вариант 2
          span(class="article-variant-item-txt")
           | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии!
          div(class="article-variant-param")
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
         div(class="article-variant-item-footer")
          .row
           span(class="article-variant-total") Итого
           span(class="article-variant-price") 100 000
            span(class="circel_m") ₽
          a(href="#")
           span записаться на прием
      div(class="article-variant-items col-md-4 col-sm-6")
        div(class="article-variant-item")
         div(class="article-variant-item-head")
          p Вариант 3
          span(class="article-variant-item-txt")
           | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии!
          div(class="article-variant-param")
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
         div(class="article-variant-item-footer")
          .row
           span(class="article-variant-total") Итого
           span(class="article-variant-price") 100 000
            span(class="circel_m") ₽
          a(href="#")
           span записаться на прием
       
       

  section(class="white-tooth")
   .center  
    div(class="white-tooth-block")
     p Сравнение двух возможностей
     span 
      | В конце XIX в. для отбеливания зубов активно начали применять хлорид алюминия, щавелевую кислоту, пирозон (перекисный эфир), водородный диоксид (перекись водорода, или пергидроль), серную кислоту, натрия гипофосфат, хлорную известь и даже цианид калия.[1] В 1918 году был открыт принцип активизации отбеливания с помощью теплового излучения, который с успехом применяется в наше время.
  section(class="article-two-variant")
   .center
    div(class="article-two-variant-block")
     .row
      div(class="article-variant-two col-md-6")
        div(class="article-variant-item")
         div(class="article-variant-item-head")
          p Вариант 1
          span(class="article-variant-item-txt")
           | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии!
          div(class="article-variant-param")
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
         div(class="article-variant-item-footer")
          .row
           span(class="article-variant-total") Итого
           span(class="article-variant-price") 100 000
            span(class="circel_m") ₽
          a(href="#")
           span записаться на прием
      div(class="article-variant-two col-md-6")
        div(class="article-variant-item")
         div(class="article-variant-item-head")
          p Вариант 2
          span(class="article-variant-item-txt")
           | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии!
          div(class="article-variant-param")
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           div(class="article-variant-row")
            .row
             p(class="col-6")
              span 
              | Параметр
             span(class="col-6") 10 000
              span(class="circel_m") ₽
           
         div(class="article-variant-item-footer")
          .row
           span(class="article-variant-total") Итого
           span(class="article-variant-price") 100 000
            span(class="circel_m") ₽
          a(href="#")
           span записаться на прием


  include modules/gallery2
  section(class="services-with-img")
   .center  
    p(class="services-with-img-head") Блоки картинка + текст
    div(class="services-with-img-item")
     .row
      div(class="col-md-6 services-with-img-item1")
       div
        img(src="images/girl3.png")
      div(class="col-md-6 services-with-img-item1")
       p Блок 1
       span 
        | Отбеливание зубов – стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии и имеет ряд сторонников и противников. Сторонники отбеливания зубов считают, что современные методики позволяют достигать значительных результатов при малых рисках для здоровья. Противники же, наоборот, считают что отбеливание зубов может привести к ухудшению здоровья полости рта.
    div(class="services-with-img-item")
     .row
      div(class="col-md-6 services-with-img-item1")
       p Блок 2
       span 
        | Отбеливание зубов – стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии и имеет ряд сторонников и противников. Сторонники отбеливания зубов считают, что современные методики позволяют достигать значительных результатов при малых рисках для здоровья. Противники же, наоборот, считают что отбеливание зубов может привести к ухудшению здоровья полости рта.
      div(class="col-md-6 services-with-img-item1")
       div
        img(src="images/girl3.png")
    div(class="services-with-img-item")
     .row
      div(class="col-md-6 services-with-img-item1")
       div
        img(src="images/girl3.png")
      div(class="col-md-6 services-with-img-item1")
       p Блок 3
       span 
        | Отбеливание зубов – стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии и имеет ряд сторонников и противников. Сторонники отбеливания зубов считают, что современные методики позволяют достигать значительных результатов при малых рисках для здоровья. Противники же, наоборот, считают что отбеливание зубов может привести к ухудшению здоровья полости рта.




  section(class="ser-block-numeric")
   .center 
    p(class="all-head") Список с нумерацией 
    div(class="ser-block-numeric-block")
     p(class="ser-block-numeric-p")
      | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть»..
     div(class="ser-block-numeric-items")
      p 
       span 1
       | Название пункта
      span(class="ser-block-numeric-span")
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
     div(class="ser-block-numeric-items")
      p 
       span 2
       | Название пункта
      span(class="ser-block-numeric-span")
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
     div(class="ser-block-numeric-items")
      p 
       span 3
       | Название пункта
      span(class="ser-block-numeric-span")
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
  section(class="footnote")
   .center
    div(class="footnote-block")
     div(class="footnote-block1")
      p Сноски
      span
       span 1
       | Brokenshire, Brad (1993). Washington State Place Names. Caxton Press. ISBN 978-0-87004-562-2
      span
       span 2
       | Calloway, Colin G. (1998). New Worlds for All: Indians, Europeans, and the Remaking of Early America. JHU Press. p. 229. ISBN 978-0-8018-5959-5
     div(class="footnote-block2")
      p Литература
      span
       | Mostert, Mary (2005). The Threat of Anarchy Leads to the Constitution of the United States. CTR Publishing, Inc. ISBN 978-0-9753851-4-2.
      span
       | Onuf, Peter S. (2010). The Origins of the Federal Republic: Jurisdictional Controversies in the United States, 1775–1787. University of Pennsylvania Press. ISBN 978-0-8122-0038-6.
      span
       | Perdue, Theda; Green, Michael D (2005). The Columbia Guide to American Indians of the Southeast. Columbia University Press. ISBN 978-0-231-50602-1.
      span
       | Price, David A. (2003). Love and Hate in Jamestown: John Smith, Pocahontas, and the Start of a New Nation. Random House. ISBN 978-0-307-42670-3.
      span
       | Quirk, Joel (2011). The Anti-Slavery Project: From the Slave Trade to Human Trafficking. University of Pennsylvania Press. p. 344. ISBN 978-0-8122-4333-8.
      span
       | Ranlet, Philip (1999). Vaughan, Alden T., ed. New England Encounters: Indians and Euroamericans Ca. 1600–1850. North Eastern University Press.
    div(class="footnote-block-link")
     a(href="#") Имплантанты
     a(href="#") Производители
     a(href="#") Бренды
     a(href="#") Советы по выбору
  section(class="cooment-all")
   .center
    p(class="cooment-all-head") Комментарии
    .comment-all-block
     span(class="cooment-not") Комментариев нет
   .coment-all-links
    a(href="#") Оставить комментарий
  include modules/articles2
  include modules/our-expert2
  include modules/hospital-loc
  include modules/advantage
  include modules/comment
  include modules/questions
  include modules/ceo2
  include modules/price-slider
  include modules/footer
