doctype html 
html(lang="en")
 head
 meta(charset="UTF-8")
 meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
 meta(http-equiv="X-UA-Compatible" content="ie=edge")
 meta(name="format-detection" content="telephone=no")
 link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
 link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css")
 link(rel='stylesheet', href='css/styles.css')
 body
  include modules/header
  section(class="clinic")
   .clinic-block
    .center
     div(class="clinic-bl withlink cart-page")
      .withlink-block
       a(href="#") Главная
       span Корзина
      h1(class="clinic-block-head") Корзина
  section(class="cart")
   .center
    .cart-body
     .row
      div(class="cart-body-left")
       .cart-item
        button(class="cart-btn")
        .row
         div(class="cart-img col-md-2 col-sm-2")
          img(src="images/search-result.png")
         div(class="cart-sps col-md-5 col-sm-5")
          p(class="cart-p") Специализация
          span Наименование товара в несколько строк, с деталями
         div(class="cart-amount col-md-2 col-sm-2")
          p(class="cart-p") Количество
          select
           option 1 шт
           option(selected="select") 2 шт
           option 3 шт
           option 4 шт
         div(class="cart-price col-md-3 col-sm-3")
          p(class="cart-p") 2 х 10 000
           span(class="circel_m") ₽
          span 20 000
           span(class="circel_m") ₽
       .cart-item
        button(class="cart-btn")
        .row
         div(class="cart-img col-md-2 col-sm-2")
          img(src="images/search-result.png")
         div(class="cart-sps col-md-5 col-sm-5")
          p(class="cart-p") Специализация
          span Наименование товара в несколько строк, с деталями
         div(class="cart-amount col-md-2 col-sm-2")
          p(class="cart-p") Количество
          select
           option 1 шт
           option(selected="select") 2 шт
           option 3 шт
           option 4 шт
         div(class="cart-price col-md-3 col-sm-3")
          p(class="cart-p") 2 х 10 000
           span(class="circel_m") ₽
          span 20 000
           span(class="circel_m") ₽
       .cart-item
        button(class="cart-btn")
        .row
         div(class="cart-img col-md-2 col-sm-2")
          img(src="images/search-result.png")
         div(class="cart-sps col-md-5 col-sm-5")
          p(class="cart-p") Специализация
          span Наименование товара в несколько строк, с деталями
         div(class="cart-amount col-md-2 col-sm-2")
          p(class="cart-p") Количество
          select
           option 1 шт
           option(selected="select") 2 шт
           option 3 шт
           option 4 шт
         div(class="cart-price col-md-3 col-sm-3")
          p(class="cart-p") 2 х 10 000
           span(class="circel_m") ₽
          span 20 000
           span(class="circel_m") ₽
      div(class="cart-body-rigth")
       p(class="cart-body-rigth-p") Всего 6 товаров на сумму
       span(class="cart-body-rigth-price withpromo") 60 000
        span(class="circel_m") ₽
       div(class="cart-promo-block")
        div(class="shop-cat site-input poromo-inp2") 
         p промо-код
         input(type="text", placeholder="промо-код" value='laladent19')
        p(class="cart-body-rigth-p cart-body-rigth-p-price") Цена со скидкой
        span(class="cart-body-rigth-price") 45 000
         span(class="circel_m") ₽
        span(class="promo-info")
         | Текст с описанием условий акции. Вам нужно сделать покупку не менее чем на 3000р, а то скидки не будет.
       a(href="#", class="cart-link") 
        span Оформить заказ


  
  include modules/footer