doctype html 
html(lang="en")
 head
 meta(charset="UTF-8")
 meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
 meta(http-equiv="X-UA-Compatible" content="ie=edge")
 meta(name="format-detection" content="telephone=no")
 link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
 link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css")
 link(rel='stylesheet', href='css/styles.css')
 body
  include modules/header
  include modules/clinic2
  include modules/maps2
  include modules/stomatology
  include modules/price
  include modules/our-expert
  section(class="ceo")
   .center2
    .row
     div(class="col-md-6 ceo-img")
      img(src="images/ceo.png")
     div(class="col-md-6 ceo-text")
      p Блок с заголовком и каким-то контентом для сео
      span 
       | Неольшой вступительный тексте. Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих  впечатлениях от ожидаемой мной ленты под названием «Власть».

  include modules/experience
  include modules/advantage
  section(class="services")
   .center
    .row
     div(class="services-video col-lg-6 order-lg-last order-first")
      div
       img(src="images/doctor.png")
      button(class="video-btn")
     div(class="services-block col-lg-6 order-lg-first order-last")
       h3(class="services-head") Блок информации о качестве услуг, или еще о чем-то — полезно для СЕО
       p
        |  Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       p
        |  Пункт 2.Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       p
        |  Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       p
        | Еще один пунктПривет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       p
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты


  include modules/discount
  include modules/video_comment
  include modules/comment
  include modules/questions
  section(class="three-links")
   .center
    p(class="three-links-head") Список ссылок в три колонки
    .row
     div(class="col-lg-4 col-md-6  three-links-block") 
      ul
       li
        a(href="#") List of Kannada films
        a(href="#") of the 1980s
       li
        a(href="#") List of Kannada films
        a(href="#") of the 1990s
       li
        a(href="#") List of Kannada films
        a(href="#") of the 2000s
       li
        a(href="#") List of Kannada films
        a(href="#") of the 2010s
       li
        a(href="#") Lists of Malayalam films
       div(class="mob_tree_link_block")
        li
         a(href="#") List of Malayalam films
         a(href="#") of the 1960s
        li
         a(href="#") List of Malayalam films
         a(href="#") of the 1970s
        li
         a(href="#") List of Malayalam films
         a(href="#") of the 1980s
        li
         a(href="#") List of Malayalam films
         a(href="#") of the 1990s
        li
         a(href="#") List of Malayalam films
         a(href="#") of the 2000s
        li
         a(href="#") List of Malayalam films
         a(href="#") of the 2010s 
        li
         a(href="#") Lists of Tamil-language films
        li
         a(href="#") List of Tamil films of the 1940s
        li
         a(href="#") List of Tamil films of the 1990s
        li
         a(href="#") List of Tamil films of the 2000s
        li
         a(href="#") List of Tamil films of the 2010s
        li
         a(href="#") Lists of Telugu-language films
        li
         a(href="#") List of Telugu films of the 2000s
        li
         a(href="#") List of Telugu films of the 2010s
        li
         a(href="#") Lists of Iranian films
        li
         a(href="#") Lists of Israeli films
       button(class="mob_tree_link_btn") Развернуть
     div(class="col-lg-4 col-md-6  three-links-block") 
      ul
       li
        a(href="#") List of Kannada films
        a(href="#") of the 1980s
       li
        a(href="#") List of Kannada films
        a(href="#") of the 1990s
       li
        a(href="#") List of Kannada films
        a(href="#") of the 2000s
       li
        a(href="#") List of Kannada films
        a(href="#") of the 2010s
       li
        a(href="#") Lists of Malayalam films
       li
        a(href="#") List of Malayalam films
        a(href="#") of the 1960s
       li
        a(href="#") List of Malayalam films
        a(href="#") of the 1970s
       li
        a(href="#") List of Malayalam films
        a(href="#") of the 1980s
       li
        a(href="#") List of Malayalam films
        a(href="#") of the 1990s
       li
        a(href="#") List of Malayalam films
        a(href="#") of the 2000s
       li
        a(href="#") List of Malayalam films
        a(href="#") of the 2010s
       li
        a(href="#") Lists of Tamil-language films
       li
        a(href="#") List of Tamil films of the 1940s
       li
        a(href="#") List of Tamil films of the 1990s
       li
        a(href="#") List of Tamil films of the 2000s
       li
        a(href="#") List of Tamil films of the 2010s
       li
        a(href="#") Lists of Telugu-language films
       li
        a(href="#") List of Telugu films of the 2000s
       li
        a(href="#") List of Telugu films of the 2010s
       li
        a(href="#") Lists of Iranian films
       li
        a(href="#") Lists of Israeli films
     div(class="col-lg-4 hidden-md  three-links-block") 
      ul
       li
        a(href="#") List of Kannada films
        a(href="#") of the 1980s
       li
        a(href="#") List of Kannada films
        a(href="#") of the 1990s
       li
        a(href="#") List of Kannada films
        a(href="#") of the 2000s
       li
        a(href="#") List of Kannada films
        a(href="#") of the 2010s
       li
        a(href="#") Lists of Malayalam films
       li
        a(href="#") List of Malayalam films
        a(href="#") of the 1960s
       li
        a(href="#") List of Malayalam films
        a(href="#") of the 1970s
       li
        a(href="#") List of Malayalam films
        a(href="#") of the 1980s
       li
        a(href="#") List of Malayalam films
        a(href="#") of the 1990s
       li
        a(href="#") List of Malayalam films
        a(href="#") of the 2000s
       li
        a(href="#") List of Malayalam films
        a(href="#") of the 2010s
       li
        a(href="#") Lists of Tamil-language films
       li
        a(href="#") List of Tamil films of the 1940s
       li
        a(href="#") List of Tamil films of the 1990s
       li
        a(href="#") List of Tamil films of the 2000s
       li
        a(href="#") List of Tamil films of the 2010s
       li
        a(href="#") Lists of Telugu-language films
       li
        a(href="#") List of Telugu films of the 2000s
       li
        a(href="#") List of Telugu films of the 2010s
       li
        a(href="#") Lists of Iranian films
       li
        a(href="#") Lists of Israeli films
  include modules/footer