doctype html
html(lang="en") 
 head
 meta(charset="UTF-8")
 meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
 meta(http-equiv="X-UA-Compatible" content="ie=edge")
 meta(name="format-detection" content="telephone=no")
 link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
 link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css")
 link(rel='stylesheet', href='css/styles.css')
 body
  include modules/header
  section(class="clinic")
    .clinic-block
     .center
      div(class="clinic-bl withlink")
       div(class="rigth-block", style="background: url(images/servbg.png)no-repeat;background-position: 30px center !important;")
       .withlink-block
        a(href="#") Главная
        a(href="#") Вопросы и ответы
        span Какой имплант лучше поставить на жевательные зубы?
       h1(class="clinic-block-head qa-page") Какой имплант лучше поставить на жевательные зубы?
       div(class="col-md-8 no-padding")
        .row
         div(class="clinic-items")
          p Иконка и какой-нибудь полезный факт
          span Краткое описание факта, детали в несколько строк 
         div(class="clinic-items")
          p Иконка и какой-нибудь полезный факт
          span Краткое описание факта, детали в несколько строк
         div(class="clinic-items")
          p Иконка и какой-нибудь полезный факт
          span Краткое описание факта, детали в несколько строк
    .mini-discount 
     .center
      .without-slider
       .row
        a(href="#")(class="mini-discount-items col-lg-4")
         div(class="mini-discount-item1")
          p Белоснежная улыбка на 8 марта
          span -50%
         p(class="mini-discount-items-p mini-s-d1")
          | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
        a(href="#")(class="mini-discount-items col-lg-4")
         div(class="mini-discount-item2")
          p Имплантация Nobel по специальной цене
          span -10%
         p(class="mini-discount-items-p mini-s-d2")
          | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
        a(href="#")(class="mini-discount-items col-lg-4")
         div(class="mini-discount-item3")
          p Композитный виниры по специальной цене
          span 9000
           span(class="circel_m") ₽
         p(class="mini-discount-items-p mini-s-d3")
          | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
      div(class="discount-slider")
       div(class="discount-slider-block")
        div(class="slider10 swiper-container")
         .swiper-wrapper
          div(class="swiper-slide")
           a(href="#")(class="mini-discount-items")
            div(class="mini-discount-item1")
             p Белоснежная улыбка на 8 марта
             span -50%
          div(class="swiper-slide")
           a(href="#")(class="mini-discount-items")
            div(class="mini-discount-item2")
             p Имплантация Nobel по специальной цене
             span -10%
          div(class="swiper-slide")
           a(href="#")(class="mini-discount-items")
            div(class="mini-discount-item3")
             p Композитный виниры по специальной цене
             span 9000
              span(class="circel_m") ₽
        .swiper-pagination
  section(class="qa-page")
   .center
    div(class="qa-page-block")
     div(class="qa-page-question")
      p(class="qa-question-head") Вопрос
      p(class="qa-page-p") Какой имплант лучше поставить на жевательные зубы?
      span
       | Здравствуйте! Подскажите, какой имплант лучше установить вместо жевательного зуба? Хочется, чтобы попрочнее был и прослужил долго. Порекомендуйте, пожалуйста, хорошего производителя.
      include modules/qa-slider
      div(class="qa2")
       span(class="qa-date") 15.03.2019
       span(class="qa-autor") Ирина
     div(class="qa-page-answer")
      p(class="qa-answer-head") Ответ
      div(class="qa-doctor")
       .row
        div(class="qa-doc-img")
         div
          img(src="images/doc.png")
         div(class="mark-blovk1 qa-mark")
          div
           span(class="expert-m-span")
           span(class="expert-m-span")
           span(class="expert-m-span")
           span(class="expert-m-span")
           span(class="expert-m-span")
         span(class="qa-callback") 25 отзывов
        div(class="qa-doc-info")
         p(class="qa-doc-info-p") Иванов Владимир Петрович
         span(class="qa-doc-info-span") Опыт работы 15 лет
         .row
          .div(class="col-md-6 qa-doc-info-block")
           p(class="qa-doc-info-block-p") Специализация
           span(class="qa-doc-info-block-span") Стоматолог-имплантолог,
           span(class="qa-doc-info-block-span") стоматолог-терапевт,
           span(class="qa-doc-info-block-span") стоматолог-ортопед
          .div(class="col-md-6 qa-doc-info-block")
           p(class="qa-doc-info-block-p") Второй список
           span(class="qa-doc-info-block-span") Второй список строка 1,
           span(class="qa-doc-info-block-span") Второй список строка 2,
           span(class="qa-doc-info-block-span") Второй список строка 3,
           span(class="qa-doc-info-block-span") Второй список строка 4
        div(class="qa-doc-address")
         a(href="#")
          span записаться на прием
         p(class="qa-doc-info-block-p") Принимает в отделениях
           span(class="qa-doc-info-block-span") М. Третьяковская,
           span(class="qa-doc-info-block-span") М. Парк Культуры
     div(class="qa-page-txt")
      span
       | Все современные импланты изготавливаются из прочного титана или его сплава, поэтому способны выдерживать значительные жевательные нагрузки длительное время.
      span
       | Производители имплантационных систем грамотно подошли к решению вопроса, поэтому стали выпускать широкий размерный ряд моделей. При подборе конструкции для жевательной группы зубов учитываются следующие факторы: качество материалов, прогнозируемый срок службы, соотношение цены и качества.
      span
       | Врачи нашей стоматологии работают с проверенными системами имплантации, на которые предоставляется пожизненная гарантия. Если говорить о лучшем производителе на сегодняшний день, то наш опыт подсказывает, что это швейцарская компания Nobel Biocare. Их системы характеризуются лучшей прочностью и приживаемостью.
      span
       | Доверьтесь профессионалу при выборе и не волнуйтесь!


  include modules/mini_discount3
  include modules/price2.pug
  section(class="services-sub-gallery")
   .center  
    p(class="services-sub-gallery-p") Галерея фотографий
    .services-sub-gallery-block
     div(class="slider11 swiper-container")
      .swiper-wrapper 
       div(class="slider-block swiper-slide")
        img(src="images/chair.png")
       div(class="slider-block swiper-slide")
        img(src="images/chair.png")
       div(class="slider-block swiper-slide")
        img(src="images/chair.png")
       div(class="slider-block swiper-slide")
        img(src="images/chair.png")
     .swiper-button-prev
     .swiper-button-next
     .swiper-pagination
  section(class="video-answer")
   .center  
    p Видео ответ
    div(class="video-answer-block")
     div
      img(src="images/girl4.png")
     button(class="video-btn")
  include modules/discount
  section(class="cooment-all")
   .center
    p(class="cooment-all-head") Комментарии
    .comment-all-block
     p(class="cooment-all-p")
      | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
     .cooment-all-autor
      span(class="cooment-all-time")
       | 15.03.2019, 13:15
      span(class="cooment-all-name") Ирина
      span(class="cooment-all-stars")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-grey.svg")
     .comment-all-answ
      p(class="cooment-all-p") Текст комментария
      .cooment-all-autor
       span(class="cooment-all-time") 
        | 15.03.2019, 13:15
       span(class="cooment-all-name") Вадим
     .comment-all-answ
      p(class="cooment-all-p") Текст комментария
      .cooment-all-autor 
       span(class="cooment-all-time")
        | 15.03.2019, 13:15
       span(class="cooment-all-name") Олег
       a(href="#", class="comment-all-btn") Ответить
    .comment-all-block
     p(class="cooment-all-p")
      | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
     .cooment-all-autor
      span(class="cooment-all-time")
       | 15.03.2019, 13:15
      span(class="cooment-all-name") Ирина
      span(class="cooment-all-stars")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-grey.svg")
     a(href="#", class="comment-all-btn") Ответить
   .coment-all-links
    a(href="#") Оставить комментарий
    a(href="#") Еще комментарии
  include modules/search-services2
  section(class="qa")
   .qa-body
    p Вопросы и ответы по теме
    .qa-block
     .center
      .qa-question
       p Какой имплант лучше поставить на жевательные зубы?
       span(class="qa-txt")
        | Здравствуйте! Подскажите, какой имплант лучше установить вместо жевательного зуба? Хочется, чтобы попрочнее был и прослужил долго. Порекомендуйте, пожалуйста, хорошего производителя.
       span(class="qa-date") 15.03.2019
       span(class="qa-autor") Ирина
      .qa-answer
       p ответ
       span(class="qa-txt")
        | Все современные импланты изготавливаются из прочного титана или его сплава, поэтому способны выдерживать значительные жевательные нагрузки длительное время.
       div(class="qa-doc")
        .row
         div(class="qa-doc1")
          img(src="images/doc.png")
          span Стоматолог-Терапевт
          span Иванов Владимир Петрович
         div(class="qa-doc2")
          span 7 комментариев
    .qa-block
     .center
      .qa-question
       p Какой имплант лучше поставить на жевательные зубы?
       span(class="qa-txt")
        | Здравствуйте! Подскажите, какой имплант лучше установить вместо жевательного зуба? Хочется, чтобы попрочнее был и прослужил долго. Порекомендуйте, пожалуйста, хорошего производителя.
       span(class="qa-date") 15.03.2019
       span(class="qa-autor") Ирина
      .qa-answer
       p ответ
       span(class="qa-txt")
        | Все современные импланты изготавливаются из прочного титана или его сплава, поэтому способны выдерживать значительные жевательные нагрузки длительное время.
       div(class="qa-doc")
        .row
         div(class="qa-doc1")
          img(src="images/doc.png")
          span Стоматолог-Терапевт
          span Иванов Владимир Петрович
         div(class="qa-doc2")
          span 7 комментариев
    .qa-block
     .center
      .qa-question
       p Какой имплант лучше поставить на жевательные зубы?
       span(class="qa-txt")
        | Здравствуйте! Подскажите, какой имплант лучше установить вместо жевательного зуба? Хочется, чтобы попрочнее был и прослужил долго. Порекомендуйте, пожалуйста, хорошего производителя.
       span(class="qa-date") 15.03.2019
       span(class="qa-autor") Ирина
      .qa-answer
       p ответ
       span(class="qa-txt")
        | Все современные импланты изготавливаются из прочного титана или его сплава, поэтому способны выдерживать значительные жевательные нагрузки длительное время.
       div(class="qa-doc")
        .row
         div(class="qa-doc1")
          img(src="images/doc.png")
          span Стоматолог-Терапевт
          span Иванов Владимир Петрович
         div(class="qa-doc2")
          span 7 комментариев    
  include modules/our-expert2
  include modules/hospital-loc
  include modules/advantage
  include modules/comment
  include modules/questions
  section(class="ceo2")
   .center
    .ceo2-block
     .ceo2-items
      h3(class="ceo2-h3")
       | CEO-текст
      span(class="ceo2-text")
       | Отбеливание зубов – стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии и имеет ряд сторонников и противников. Сторонники отбеливания зубов считают, что современные методики позволяют достигать значительных результатов при малых рисках для здоровья. Противники же, наоборот, считают что отбеливание зубов может привести к ухудшению здоровья полости рта.
     .ceo2-items
      p(class="ceo2-head")
       | История развития
      span(class="ceo2-text")
       |Самые ранние упоминания об отбеливании зубов относятся к первому веку нашей эры. Римские врачеватели считали, что использование мочи в значительной мере способствует осветлению зубов.
      span(class="ceo2-text")
       | Начиная с XIV по конец конца XVIII столетия, врачеватели славянских народов осуществляли отбеливание зубов при помощи слабого раствора азотной кислоты. Предварительно зубы обрабатывались металлическим напильником: снимался поверхностный слой эмали. Такую технологию применяли Смоляр Н.И., Кононенко В.В., Безвушко Э.В.
      span(class="ceo2-text")
       | Начиная с 1848 г. для отбеливания зубов начали применять хлорную известь — раствора кальция гидрохлорида и уксусной кислоты (активным элементом служил хлор). Данную методику предложил Труман.
     .ceo2-items
      p(class="ceo2-head")
       | Классификация
      p(class="ceo2-head2")
       | Отбеливание зубов подразделяет
      span(class="ceo2-text2")
       span
       | Домашнее – проводятся в домашних условиях. Применяются разнообразные осветляющие зубные пасты, жвачки с абразивами, специальные средства, приготовленные дома (народные рецепты).      
      span(class="ceo2-text2")
       span
       | Профессиональное — проводятся в стоматологических клиниках при помощи специального оборудования.

      p(class="ceo2-head2")
       | Профессиональное отбеливание зубов подразделяется по методу воздействия:
      span(class="ceo2-text2")
       span
       | Механическое – очистка эмали путём подачи на неё смеси чистящего порошка с воздухом.
      span(class="ceo2-text2")
       span
       |Ультразвуковое – воздействие на зубную эмаль ультразвуком. Наиболее щадящий метод, но и наиболее дорогостоящий.
      span(class="ceo2-text2")
       span
       |Химическое – воздействие на эмаль зуба химическими составами. Наиболее эффективный метод, но имеет множество побочных эффектов. Применение разрешается только на абсолютно здоровых зубах.
      span(class="ceo2-text2")
       span
       |Лазерное – воздействие на эмаль зуба лазерным лучом. Быстрый и эффективный метод. Значительно отличается от щадящих методов и имеет большую стоимость.
      span(class="ceo2-text2")
       span
       |Фотоотбеливание – воздействие на эмаль зуба светом, подходит для чувствительных зубов. Применяется достаточно редко, так как требуется высокая квалификация и не всегда даёт желаемый результат – в ряде случаев придаёт неестественный оттенок.
     .ceo2-items
      p(class="ceo2-head")
       | Список с нумерацией
      span(class="ceo2-text")
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть»..
      p(class="ceo2-head3")
       span 1
       | Название пункта
       span(class="ceo2-text")
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть»..
      p(class="ceo2-head3")
       span 2
       | Название пункта
       span(class="ceo2-text")
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть»..
      p(class="ceo2-head3")
       span 3
       | Название пункта
       span(class="ceo2-text")
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть»..
    
    
     .ceo2-items
      p(class="ceo2-head")
       | Еще кусок текста
      span(class="ceo2-text")
       | Отбеливание зубов – стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии и имеет ряд сторонников и противников. Сторонники отбеливания зубов считают, что современные методики позволяют достигать значительных результатов при малых рисках для здоровья. Противники же, наоборот, считают что отбеливание зубов может привести к ухудшению здоровья полости рта.  
      
  
  include modules/price-slider
  include modules/footer