doctype html
html(lang="en") 
 head
 meta(charset="UTF-8")
 meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
 meta(http-equiv="X-UA-Compatible" content="ie=edge")
 meta(name="format-detection" content="telephone=no")
 link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
 link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css")
 link(rel='stylesheet', href='css/styles.css')
 body
  include modules/header
  section(class="clinic rewiew-page")
    .clinic-block
     .center
      div(class="clinic-bl withlink")
       div(class="rigth-block")
       .withlink-block
        a(href="#") Главная
        a(href="#") Врачи
        a(href="#") Иванов Владимир Петрович
        span Отзывы
       h1(class="clinic-block-head") 
        | Отзывы о враче 
        br
        | Иванове Владимире Петровиче
       span(class="pages-span1") Ведущий специалист клиники LalaDent
       div(class="col-md-8 no-padding")
        div(class="row doc-page-block1")
         div(class="doc-page-items-mark")
          .expert-mark 
           div
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span active_h")
            span(class="expert-m-span")
         div(class="doc-page-items-cb")
          span 25 отзывов
        div(class="row doc-page-block2")
         div(class="doc-page-items-text")
          p Специализация
          span Стоматолог-имплантолог,
          span стоматолог-терапевт,
          span стоматолог-ортопед
         div(class="doc-page-items-text")
          p Опыт работы
          span 15 лет
         div(class="doc-page-items-text")
          p Отделения
          span М. Парк Культуры,
          span М. Белорусская
         div(class="doc-page-items-text")
           a(href="#", class="d-flex doc-page-items-a") записаться на прием
    .mini-discount 
     .center
      .without-slider
       .row
        a(href="#")(class="mini-discount-items col-lg-4")
         div(class="mini-discount-item1")
          p Белоснежная улыбка на 8 марта
          span -50%
         p(class="mini-discount-items-p mini-s-d1")
          | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
        a(href="#")(class="mini-discount-items col-lg-4")
         div(class="mini-discount-item2")
          p Имплантация Nobel по специальной цене
          span -10%
         p(class="mini-discount-items-p mini-s-d2")
          | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
        a(href="#")(class="mini-discount-items col-lg-4")
         div(class="mini-discount-item3")
          p Композитный виниры по специальной цене
          span 9000
           span(class="circel_m") ₽
         p(class="mini-discount-items-p mini-s-d3")
          | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
      div(class="discount-slider")
       div(class="discount-slider-block")
        div(class="slider10 swiper-container")
         .swiper-wrapper
          div(class="swiper-slide")
           a(href="#")(class="mini-discount-items")
            div(class="mini-discount-item1")
             p Белоснежная улыбка на 8 марта
             span -50%
          div(class="swiper-slide")
           a(href="#")(class="mini-discount-items")
            div(class="mini-discount-item2")
             p Имплантация Nobel по специальной цене
             span -10%
          div(class="swiper-slide")
           a(href="#")(class="mini-discount-items")
            div(class="mini-discount-item3")
             p Композитный виниры по специальной цене
             span 9000
              span(class="circel_m") ₽
        .swiper-pagination
  

  
  section(class="comment")
   .center
    h3(class="comment-head") Отзывы
    .comment-block
     p(class="comment-block-p") Отзыв о клинике
     span(class="comment-block-span mob_all") 
      | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
      button(class="mob_all_btn") Развернуть
     .comment-autor
      .autor-n Ирина
      .comment-date
       span(class="comment-d") 15.03.2019
       span(class="comment-mark")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-grey.svg")
     .doc-callback
      img(src="images/doc.png")
      p Вадим Петров, Главный врач
      span Спасибо большое за ваш отзыв, были рады помочь!
    .comment-block
     p(class="comment-block-p") Отзыв врачу Иванову Владимиру Петровичу
     span(class="comment-block-span") 
      | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
     .comment-autor
      .autor-n Ирина
      .comment-date
       span(class="comment-d") 15.03.2019
       span(class="comment-mark")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-grey.svg")
    .comment-block
     p(class="comment-block-p") Отзыв об отделении на Белорусской
     span(class="comment-block-span mob_all") 
      | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
      button(class="mob_all_btn") Развернуть
     div(class="comment-slider")
      div(class="slider3 swiper-container")
       .swiper-wrapper
         div(class="slider-block3 swiper-slide")
          img(src="images/comment-slider.png")
         div(class="slider-block3 swiper-slide")
          img(src="images/comment-slider.png")
         div(class="slider-block3 swiper-slide")
          img(src="images/comment-slider.png")
         div(class="slider-block3 swiper-slide")
          img(src="images/comment-slider.png")
         div(class="slider-block3 swiper-slide")
          img(src="images/comment-slider.png")
         div(class="slider-block3 swiper-slide")
          img(src="images/comment-slider.png")
         div(class="slider-block3 swiper-slide")
          img(src="images/comment-slider.png")
         div(class="slider-block3 swiper-slide")
          img(src="images/comment-slider.png")
         div(class="slider-block3 swiper-slide")
          img(src="images/comment-slider.png")
         div(class="slider-block3 swiper-slide")
          img(src="images/comment-slider.png")
      .swiper-button-prev
      .swiper-button-next
     .comment-autor
      .autor-n Ирина
      .comment-date
       span(class="comment-d") 15.03.2019
       span(class="comment-mark")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-grey.svg")
     .doc-callback
      img(src="images/doc.png")
      p Вадим Петров, Главный врач
      span Спасибо большое за ваш отзыв, были рады помочь!
  section(class="discount review-p")
   .center
    .discount-block
     p(class="discount-p") Белоснежная улыбка на 8 марта
     span(class="discount-span") -50%
  section(class="comment")
   .center
    .comment-block
     p(class="comment-block-p") Отзыв о клинике
     span(class="comment-block-span mob_all") 
      | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
      button(class="mob_all_btn") Развернуть
     .comment-autor
      .autor-n Ирина
      .comment-date
       span(class="comment-d") 15.03.2019
       span(class="comment-mark")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-grey.svg")
     .doc-callback
      img(src="images/doc.png")
      p Вадим Петров, Главный врач
      span Спасибо большое за ваш отзыв, были рады помочь!
    .comment-block
     p(class="comment-block-p") Отзыв врачу Иванову Владимиру Петровичу
     span(class="comment-block-span") 
      | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
     .comment-autor
      .autor-n Ирина
      .comment-date
       span(class="comment-d") 15.03.2019
       span(class="comment-mark")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-grey.svg")
    .comment-block
     p(class="comment-block-p") Отзыв об отделении на Белорусской
     span(class="comment-block-span mob_all") 
      | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
      button(class="mob_all_btn") Развернуть
     div(class="comment-slider")
      div(class="slider3 swiper-container")
       .swiper-wrapper
        div(class="slider-block3 swiper-slide")
         img(src="images/comment-slider.png")
        div(class="slider-block3 swiper-slide")
         img(src="images/comment-slider.png")
        div(class="slider-block3 swiper-slide")
         img(src="images/comment-slider.png")
        div(class="slider-block3 swiper-slide")
         img(src="images/comment-slider.png")
        div(class="slider-block3 swiper-slide")
         img(src="images/comment-slider.png")
        div(class="slider-block3 swiper-slide")
         img(src="images/comment-slider.png")
        div(class="slider-block3 swiper-slide")
         img(src="images/comment-slider.png")
        div(class="slider-block3 swiper-slide")
         img(src="images/comment-slider.png")
        div(class="slider-block3 swiper-slide")
         img(src="images/comment-slider.png")
        div(class="slider-block3 swiper-slide")
         img(src="images/comment-slider.png")
        div(class="slider-block3 swiper-slide")
         img(src="images/comment-slider.png")
        div(class="slider-block3 swiper-slide")
         img(src="images/comment-slider.png")
        div(class="slider-block3 swiper-slide")
         img(src="images/comment-slider.png")
        div(class="slider-block3 swiper-slide")
         img(src="images/comment-slider.png")
      .swiper-button-prev
      .swiper-button-next
     .comment-autor
      .autor-n Ирина
      .comment-date
       span(class="comment-d") 15.03.2019
       span(class="comment-mark")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-grey.svg")
     .doc-callback
      img(src="images/doc.png")
      p Вадим Петров, Главный врач
      span Спасибо большое за ваш отзыв, были рады помочь!
   .rew-btn
    button Оставить отзыв
  .pagination
    .center
     .pagination-block
      a(href="#", class="active_a") 1
      a(href="#") 2
      a(href="#") 3
      a(href="#") 4
      a(href="#") 5
      span ...
      a(href="#") 11
      a(href="#") 12
      a(href="#", class="next-page") Далее
  include modules/sertifikat   
  include modules/our-expert2
  include modules/hospital-loc
  include modules/advantage
  include modules/ceo2
      
  include modules/comment-all
  include modules/price-slider
  include modules/footer