doctype html
html(lang="en") 
 head
 meta(charset="UTF-8")
 meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
 meta(http-equiv="X-UA-Compatible" content="ie=edge")
 meta(name="format-detection" content="telephone=no")
 link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
 link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css")
 link(rel='stylesheet', href='css/styles.css')
 body
  include modules/header  
  section(class="search-page")
   .search-page-block
    .center
     .search-intut
      input(type="text", placeholder="Введите запрос", value="Кориес")
      button
     .search-no-result
      span Нет результатов по запросу «Кориес»
  include modules/discount
  include modules/our-expert2
  include modules/hospital-loc
  include modules/advantage
  include modules/comment
  include modules/questions
  include modules/ceo2
      
  include modules/comment-all
  include modules/price-slider
  include modules/footer