doctype html
html(lang="en") 
 head
 meta(charset="UTF-8")
 meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
 meta(http-equiv="X-UA-Compatible" content="ie=edge")
 meta(name="format-detection" content="telephone=no")
 link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
 link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css")
 link(rel='stylesheet', href='css/styles.css')
 body
  include modules/header
  section(class="clinic without")
    .clinic-block
     .center
      div(class="clinic-bl withlink")
       .block-stock
        p Цена услуги по профессиональной чистке зубов
        span(class="block-stock-span") акция до 22 сентября
        div(class="stock-price")
         span 5000 
          span(class="circel_m") ₽
         span 9000
          span(class="circel_m") ₽
        a(href="#", class="stock-link")
         span записаться на прием
       .withlink-block
        a(href="#") Главная
        a(href="#") Услуги
        span Профессиональная чистка зубов
       h1(class="clinic-block-head") Профессиональная чистка зубов
       span(class="clinic-block-disc pages") Небольшой текст об услуге и качестве ее оказания
       div(class="col-md-8 no-padding")
        .row
         div(class="clinic-items")
          p Иконка и какой-нибудь полезный факт
          span Краткое описание факта, детали в несколько строк 
         div(class="clinic-items")
          p Иконка и какой-нибудь полезный факт
          span Краткое описание факта, детали в несколько строк
         div(class="clinic-items")
          p Иконка и какой-нибудь полезный факт
          span Краткое описание факта, детали в несколько строк
    .mini-discount 
     .center
      .without-slider
       .row
        a(href="#")(class="mini-discount-items col-lg-4")
         div(class="mini-discount-item1")
          p Белоснежная улыбка на 8 марта
          span -50%
         p(class="mini-discount-items-p mini-s-d1")
          | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
        a(href="#")(class="mini-discount-items col-lg-4")
         div(class="mini-discount-item2")
          p Имплантация Nobel по специальной цене
          span -10%
         p(class="mini-discount-items-p mini-s-d2")
          | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
        a(href="#")(class="mini-discount-items col-lg-4")
         div(class="mini-discount-item3")
          p Композитный виниры по специальной цене
          span 9000
           span(class="circel_m") ₽
         p(class="mini-discount-items-p mini-s-d3")
          | Купить диваны в Москве в нашем интернет-магазине. Цены на диваны от 9990 руб (с учетом скидок и распродаж). Недорогие диваны от производителя.
      div(class="discount-slider")
       div(class="discount-slider-block")
        div(class="slider10 swiper-container")
         .swiper-wrapper
          div(class="swiper-slide")
           a(href="#")(class="mini-discount-items")
            div(class="mini-discount-item1")
             p Белоснежная улыбка на 8 марта
             span -50%
          div(class="swiper-slide")
           a(href="#")(class="mini-discount-items")
            div(class="mini-discount-item2")
             p Имплантация Nobel по специальной цене
             span -10%
          div(class="swiper-slide")
           a(href="#")(class="mini-discount-items")
            div(class="mini-discount-item3")
             p Композитный виниры по специальной цене
             span 9000
              span(class="circel_m") ₽
        .swiper-pagination
  section(class="navigation")
   .center
    p Навигация
    .navigation-link
     a(href="#") Отбеливание зубов
     a(href="#") История развития
     a(href="#") Видео лекция
     a(href="#") Классификация
     a(href="#") Сравнение трех возможностей
     a(href="#") Сравнение двух возможностей
     a(href="#") Галерея фотографий
     a(href="#") Еще блок
     a(href="#") Еще блок
     a(href="#") Список литературы
  section(class="servisec-info")
   .center
    p Заголовок и вводный текст про услугу
    span 
     | Отбеливание зубов – стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии и имеет ряд сторонников и противников. Сторонники отбеливания зубов считают, что современные методики позволяют достигать значительных результатов при малых рисках для здоровья. Противники же, наоборот, считают что отбеливание зубов может привести к ухудшению здоровья полости рта.
  include modules/price_for_servisec
  section(class="services")
   .center
    .row
     div(class="services-video col-lg-6 order-lg-last order-first")
      div
       img(src="images/doctor.png")
      button(class="video-btn")
     div(class="services-block1 col-lg-6 order-lg-first order-last")
       h3(class="services-head") Как оказывается услуга
       p
        |  Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       p
        |  Пункт 2.Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       p
        |  Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       p
        | Еще один пунктПривет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       p
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты


  include modules/discount
  section(class="services-h")
   p В каких случаях обращаться?
   .center
    .row
     div(class="services-h-block col-lg-6")
      span
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
      span
       | Пункт 2.Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
      span
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
      span
       | Еще один пунктПривет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
      span
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
     div(class="services-h-block col-lg-6")
      span
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
      span
       | Пункт 2.Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
      span
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
      span
       | Еще один пунктПривет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
      span
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
  section(class="services-sub-result")
   .center
    .row
     div(class="col-lg-5 services-sub-result-items")
      p(class="services-sub-result-p") Результаты лечения
      span(class="services-sub-result-span")
       span
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
      span(class="services-sub-result-span")
       span
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
      span(class="services-sub-result-span")
       span
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
      span(class="services-sub-result-span")
       span
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
     div(class="col-lg-7 services-sub-result-items")
      .row
       div(class="col-md-6 services-sub-result-img")
        img(src="images/before.png")
        span до
       div(class="col-md-6 services-sub-result-img")
        img(src="images/after.png")
        span после
      .services-sub-btn
       button Подробная карточка случая
  section(class="services-with-img")
   .center  
    p(class="services-with-img-head") Этапы лечения
    div(class="services-with-img-item")
     .row
      div(class="col-md-6 services-with-img-item1")
       div
        img(src="images/girl3.png")
      div(class="col-md-6 services-with-img-item1")
       p 1 этап
       span 
        | Отбеливание зубов – стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии и имеет ряд сторонников.
       div(class="ervices-with-img-num")
        p 
         span 1
         | Название пункта
        span(class="ser-block-numeric-span")
         | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       div(class="ervices-with-img-num")
        p 
         span 2
         | Название пункта
        span(class="ser-block-numeric-span")
         | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       div(class="ervices-with-img-num")
        p 
         span 3
         | Название пункта
        span(class="ser-block-numeric-span")
         | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
    div(class="services-with-img-item")
     .row
      div(class="col-md-6 services-with-img-item1")
       p 2 этап
       span 
        | Отбеливание зубов – стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии и имеет ряд сторонников.
       div(class="ervices-with-img-num")
        p 
         span 1
         | Название пункта
        span(class="ser-block-numeric-span")
         | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       div(class="ervices-with-img-num")
        p 
         span 2
         | Название пункта
        span(class="ser-block-numeric-span")
         | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       div(class="ervices-with-img-num")
        p 
         span 3
         | Название пункта
        span(class="ser-block-numeric-span")
         | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты

      div(class="col-md-6 services-with-img-item1")
       div
        img(src="images/girl3.png")


  section(class="services-illness")
   .center
    .row
     div(class="servisec-illness-block col-lg-6")
      div
       p(class="services-sub-result-p") Показания и заболевания
       span(class="services-sub-result-span")
        span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="services-sub-result-span")
        span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="services-sub-result-span")
        span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
     div(class="servisec-illness-block col-lg-6")
      div
       p(class="services-sub-result-p") Противопоказания
       span(class="services-sub-result-span1")
        span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="services-sub-result-span1")
        span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="services-sub-result-span1")
        span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты
       span(class="services-sub-result-span1")
        span
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты

  include modules/comment2
  section(class="illness-info")
   .center
    p Подробнее о болезни
    span 
     | Отбеливание зубов – стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии и имеет ряд сторонников и противников. Сторонники отбеливания зубов считают, что современные методики позволяют достигать значительных результатов при малых рисках для здоровья. Противники же, наоборот, считают что отбеливание зубов может привести к ухудшению здоровья полости рта.
  section(class="questions")
   .center
    .row
     div(class="col-lg-6 questions-block")
      div
       p(class="questions-p") Остались вопросы? Возможно мы уже ответили на них:
       ul
        li
         a(href="#") Можно ли летать на самолете после имплантации?
        li
         a(href="#") Как ухаживать за зубными имплантами?
        li
         a(href="#") Как выбрать зубную пасту?
        li
         a(href="#") Как снимают временные коронки?
        li
         a(href="#") Сколько можно носить временные коронки?
       a(href="#")(class="quest-all") Все вопросы и ответы
     div(class="col-lg-6 questions-block")
      div
       p(class="questions-p") Более подробную информацию вы можете узнать в статьях:
       ul
        li
         a(href="#") Можно ли летать на самолете после имплантации?
        li
         a(href="#") Как ухаживать за зубными имплантами?
        li
         a(href="#") Как выбрать зубную пасту?
        li
         a(href="#") Как снимают временные коронки?
        li
         a(href="#") Сколько можно носить временные коронки?
       a(href="#")(class="quest-all") Все статьи
  include modules/search-services2
  include modules/our-expert2
  include modules/hospital-loc
  include modules/advantage
  include modules/comment
  section(class="ceo2")
   .center
    .ceo2-block
     .ceo2-items
      h3(class="ceo2-h3")
       | CEO-текст
      span(class="ceo2-text")
       | Отбеливание зубов – стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии и имеет ряд сторонников и противников. Сторонники отбеливания зубов считают, что современные методики позволяют достигать значительных результатов при малых рисках для здоровья. Противники же, наоборот, считают что отбеливание зубов может привести к ухудшению здоровья полости рта.
     .ceo2-items
      p(class="ceo2-head")
       | История развития
      span(class="ceo2-text")
       |Самые ранние упоминания об отбеливании зубов относятся к первому веку нашей эры. Римские врачеватели считали, что использование мочи в значительной мере способствует осветлению зубов.
      span(class="ceo2-text")
       | Начиная с XIV по конец конца XVIII столетия, врачеватели славянских народов осуществляли отбеливание зубов при помощи слабого раствора азотной кислоты. Предварительно зубы обрабатывались металлическим напильником: снимался поверхностный слой эмали. Такую технологию применяли Смоляр Н.И., Кононенко В.В., Безвушко Э.В.
      span(class="ceo2-text")
       | Начиная с 1848 г. для отбеливания зубов начали применять хлорную известь — раствора кальция гидрохлорида и уксусной кислоты (активным элементом служил хлор). Данную методику предложил Труман.
     .ceo2-items
      p(class="ceo2-head")
       | Классификация
      p(class="ceo2-head2")
       | Отбеливание зубов подразделяет
      span(class="ceo2-text2")
       span
       | Домашнее – проводятся в домашних условиях. Применяются разнообразные осветляющие зубные пасты, жвачки с абразивами, специальные средства, приготовленные дома (народные рецепты).      
      span(class="ceo2-text2")
       span
       | Профессиональное — проводятся в стоматологических клиниках при помощи специального оборудования.

      p(class="ceo2-head2")
       | Профессиональное отбеливание зубов подразделяется по методу воздействия:
      span(class="ceo2-text2")
       span
       | Механическое – очистка эмали путём подачи на неё смеси чистящего порошка с воздухом.
      span(class="ceo2-text2")
       span
       |Ультразвуковое – воздействие на зубную эмаль ультразвуком. Наиболее щадящий метод, но и наиболее дорогостоящий.
      span(class="ceo2-text2")
       span
       |Химическое – воздействие на эмаль зуба химическими составами. Наиболее эффективный метод, но имеет множество побочных эффектов. Применение разрешается только на абсолютно здоровых зубах.
      span(class="ceo2-text2")
       span
       |Лазерное – воздействие на эмаль зуба лазерным лучом. Быстрый и эффективный метод. Значительно отличается от щадящих методов и имеет большую стоимость.
      span(class="ceo2-text2")
       span
       |Фотоотбеливание – воздействие на эмаль зуба светом, подходит для чувствительных зубов. Применяется достаточно редко, так как требуется высокая квалификация и не всегда даёт желаемый результат – в ряде случаев придаёт неестественный оттенок.
     .ceo2-items
      p(class="ceo2-head")
       | Список с нумерацией
      span(class="ceo2-text")
       | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть»..
      p(class="ceo2-head3")
       span 1
       | Название пункта
       span(class="ceo2-text")
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть»..
      p(class="ceo2-head3")
       span 2
       | Название пункта
       span(class="ceo2-text")
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть»..
      p(class="ceo2-head3")
       span 3
       | Название пункта
       span(class="ceo2-text")
        | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть»..
    
    
     .ceo2-items
      p(class="ceo2-head")
       | Еще кусок текста
      span(class="ceo2-text")
       | Отбеливание зубов – стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии и имеет ряд сторонников и противников. Сторонники отбеливания зубов считают, что современные методики позволяют достигать значительных результатов при малых рисках для здоровья. Противники же, наоборот, считают что отбеливание зубов может привести к ухудшению здоровья полости рта.  
      
  section(class="cooment-all")
   .center
    p(class="cooment-all-head") Комментарии
    .comment-all-block
     p(class="cooment-all-p")
      | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
     .cooment-all-autor
      span(class="cooment-all-time")
       | 15.03.2019, 13:15
      span(class="cooment-all-name") Ирина
      span(class="cooment-all-stars")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-grey.svg")
     .comment-all-answ
      p(class="cooment-all-p") Текст комментария
      .cooment-all-autor
       span(class="cooment-all-time") 
        | 15.03.2019, 13:15
       span(class="cooment-all-name") Вадим
     .comment-all-answ
      p(class="cooment-all-p") Текст комментария
      .cooment-all-autor 
       span(class="cooment-all-time")
        | 15.03.2019, 13:15
       span(class="cooment-all-name") Олег
       a(href="#", class="comment-all-btn") Ответить
    .comment-all-block
     p(class="cooment-all-p")
      | Привет всем синемаголикам и простым читателям моей рецензии! Сегодня расскажу вам о своих впечатлениях от ожидаемой мной ленты под названием «Власть». Фильм рассказывает о жизненном пути 46-го вице-президента США, Дика Чейни, о том, с какими политическими трудностями и конфликтами он сталкивался. Это кино про самого теневого игрока Белого Дома, который навсегда изменил ход истории Америки.
     .cooment-all-autor
      span(class="cooment-all-time")
       | 15.03.2019, 13:15
      span(class="cooment-all-name") Ирина
      span(class="cooment-all-stars")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-green.svg")
        img(src="images/icon-star-grey.svg")
     a(href="#", class="comment-all-btn") Ответить
   .coment-all-links
    a(href="#") Оставить комментарий
    a(href="#") Еще комментарии
  include modules/price-slider
  include modules/footer