doctype html 
html(lang="en") 
 head
 meta(charset="UTF-8")
 meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
 meta(http-equiv="X-UA-Compatible" content="ie=edge")
 meta(name="format-detection" content="telephone=no")
 link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
 link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css")
 link(rel='stylesheet', href='css/styles.css')
 body
  include modules/header
  section(class="clinic")
   .clinic-block
    .center
     div(class="clinic-bl withlink cart-page")
      .withlink-block
       a(href="#") Главная
       a(href="#") Магазин
       span Наименование товара в несколько строк,с деталями
      h1(class="clinic-block-head") Наименование товара в несколько строк,с деталями
    .mini-discount 
     .center
      .without-slider
       .row
        a(href="#")(class="mini-discount-items col-lg-4")
         div(class="mini-discount-item1")
          p Белоснежная улыбка на 8 марта
          span -50%
        a(href="#")(class="mini-discount-items col-lg-4")
         div(class="mini-discount-item2")
          p Имплантация Nobel по специальной цене
          span -10%
        a(href="#")(class="mini-discount-items col-lg-4")
         div(class="mini-discount-item3")
          p Композитный виниры по специальной цене
          span 9000
           span(class="circel_m") ₽
      div(class="discount-slider")
       div(class="discount-slider-block")
        div(class="slider10 swiper-container")
         .swiper-wrapper
          div(class="swiper-slide")
           a(href="#")(class="mini-discount-items")
            div(class="mini-discount-item1")
             p Белоснежная улыбка на 8 марта
             span -50%
          div(class="swiper-slide")
           a(href="#")(class="mini-discount-items")
            div(class="mini-discount-item2")
             p Имплантация Nobel по специальной цене
             span -10%
          div(class="swiper-slide")
           a(href="#")(class="mini-discount-items")
            div(class="mini-discount-item3")
             p Композитный виниры по специальной цене
             span 9000
              span(class="circel_m") ₽
        .swiper-pagination

  section(class="shop-product") 
   .center
    div(class="shop-product-block")
     .row
      div(class="shop-product-block-l col-md-8")
        div(class="gallery-popup2")
         div(class="swiper-container gallery-top2")
          div(class="swiper-wrapper")
           div(class="swiper-slide slide-popup")
            div
             img(src="images/search-result2.png")
           div(class="swiper-slide slide-popup")
            div
             img(src="images/search-result2.png")
           div(class="swiper-slide slide-popup")
            div
             img(src="images/search-result2.png")
           div(class="swiper-slide slide-popup")
            div
             img(src="images/search-result2.png")
        div(class="swiper-container gallery-thumbs2")
         div(class="swiper-wrapper")
          div(class="swiper-slide thumb-popup")
           div
            img(src="images/search-result2.png")
          div(class="swiper-slide thumb-popup")
           div
            img(src="images/search-result2.png")
          div(class="swiper-slide thumb-popup")
           div
            img(src="images/search-result2.png")
          div(class="swiper-slide thumb-popup")
           div
            img(src="images/search-result2.png")
      div(class="shop-product-block-r col-md-4")
       p(class="shop-product-p") Наименование товара в несколько строк, с деталями
       span(class="shop-product-span") цена
       span(class="shop-product-price") 10 000
        span(class="circel_m") ₽
       span(class="shop-product-price2") 15 000
        span(class="circel_m") ₽
       div(class="shop-pro-block1")
        a(href="#")
         span Купить        
        .row
         p Самовывоз из любого отделения
         p Оплата на кассе, принимаем карты
        div(class="shop-pro-discription")
         div(class="row shop-pro-row")
          span Диагональ/разрешение
          span 6.1"/1792x828 пикс.
         div(class="row shop-pro-row")
          span Тип процессора
          span A12 Bionic
         div(class="row shop-pro-row")
          span Встроенная память (ROM)
          span 64 ГБ
         div(class="row shop-pro-row")
          span Разрешение фотокамеры
          span 12 МПикс
    div(class="shop-product-discription")
     h3 Описание товара
     span
      | Отбеливание зубов – стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии и имеет ряд сторонников и противников. Сторонники отбеливания зубов считают, что современные методики позволяют достигать значительных результатов при малых рисках для здоровья. Противники же, наоборот, считают что отбеливание зубов может привести к ухудшению здоровья полости рта.
    div(class="shop-product-discription2")
     h3 Характеристики товара
     .row
      div(class="col-md-6")
       .row
        div(class="col-sm-6")
         span(class="shop-product-disc-span1") Название параметра
        div(class="col-sm-6")
         span(class="shop-product-disc-span2") Значение
       .row
        div(class="col-sm-6")
         span(class="shop-product-disc-span1") Название параметра
        div(class="col-sm-6")
         span(class="shop-product-disc-span2") Длинное значение параметра
       .row
        div(class="col-sm-6")
         span(class="shop-product-disc-span1") Длинное название параметра
        div(class="col-sm-6")
         span(class="shop-product-disc-span2") Значение
       .row
        div(class="col-sm-6")
         span(class="shop-product-disc-span1") Название параметра
        div(class="col-sm-6")
         span(class="shop-product-disc-span2") Значение
      div(class="col-md-6")
       .row
        div(class="col-sm-6")
         span(class="shop-product-disc-span1") Название параметра
        div(class="col-sm-6")
         span(class="shop-product-disc-span2") Значение
       .row
        div(class="col-sm-6")
         span(class="shop-product-disc-span1") Название параметра
        div(class="col-sm-6")
         span(class="shop-product-disc-span2") Значение
       .row
        div(class="col-sm-6")
         span(class="shop-product-disc-span1") Название параметра
        div(class="col-sm-6")
         span(class="shop-product-disc-span2") Значение
    div(class="shop-product-discription")
     p Еще блок текста
     span
      | Отбеливание зубов – стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии и имеет ряд сторонников и противников. Сторонники отбеливания зубов считают, что современные методики позволяют достигать значительных результатов при малых рисках для здоровья. Противники же, наоборот, считают что отбеливание зубов может привести к ухудшению здоровья полости рта.

  include modules/mini_discount2
  include modules/price2.pug
  include modules/comment
  section(class="shop-recomended")
   .center 
    h3(class="shop-recomended-head") Вам также может быть интересно
    .row
     div(class="shop-recomended-block col-lg-3 col-md-3 col-sm-6")
      .shop-recomended-item
       .shop-recomended-img
        img(src="images/search-result2.png")
       .shop-recomended-txt
        p Категория товара
        span(class="shop-rec-span") 
         | Наименование товара в несколько строк, с деталями
        p Цена
        span(class="shop-rec-price") 10 000
         span(class="circel_m") ₽
        a(href="#")
         span Купить
     div(class="shop-recomended-block col-lg-3 col-md-3 col-sm-6")
      .shop-recomended-item
       .shop-recomended-img
        img(src="images/search-result2.png")
       .shop-recomended-txt
        p Категория товара
        span(class="shop-rec-span") 
         | Наименование товара в несколько строк, с деталями
        p Цена
        span(class="shop-rec-price") 10 000
         span(class="circel_m") ₽
        a(href="#")
         span Купить
     div(class="shop-recomended-block col-lg-3 col-md-3 col-sm-6")
      .shop-recomended-item
       .shop-recomended-img
        img(src="images/search-result2.png")
       .shop-recomended-txt
        p Категория товара
        span(class="shop-rec-span") 
         | Наименование товара в несколько строк, с деталями
        p Цена
        span(class="shop-rec-price") 10 000
         span(class="circel_m") ₽
        a(href="#")
         span Купить
     div(class="shop-recomended-block col-lg-3 col-md-3 col-sm-6")
      .shop-recomended-item
       .shop-recomended-img
        img(src="images/search-result2.png")
       .shop-recomended-txt
        p Категория товара
        span(class="shop-rec-span") 
         | Наименование товара в несколько строк, с деталями
        p Цена
        span(class="shop-rec-price") 10 000
         span(class="circel_m") ₽
        a(href="#")
         span Купить
  section(class="shop-recomended second")
   .center 
    h3(class="shop-recomended-head") Другие товары этого бренда
    .row
     div(class="shop-recomended-block col-lg-3 col-md-3 col-sm-6")
      .shop-recomended-item
       .shop-recomended-img
        img(src="images/search-result2.png")
       .shop-recomended-txt
        span(class="shop-rec-span") 
         | Длинное название категории товара
     div(class="shop-recomended-block col-lg-3 col-md-3 col-sm-6")
      .shop-recomended-item
       .shop-recomended-img
        img(src="images/search-result2.png")
       .shop-recomended-txt
        span(class="shop-rec-span") 
         | Длинное название категории товара
     div(class="shop-recomended-block col-lg-3 col-md-3 col-sm-6")
      .shop-recomended-item
       .shop-recomended-img
        img(src="images/search-result2.png")
       .shop-recomended-txt
        span(class="shop-rec-span") 
         | Длинное название категории товара
     div(class="shop-recomended-block col-lg-3 col-md-3 col-sm-6")
      .shop-recomended-item
       .shop-recomended-img
        img(src="images/search-result2.png")
       .shop-recomended-txt
        span(class="shop-rec-span") 
         | Длинное название категории товара
  include modules/discount
  include modules/our-expert2
  include modules/hospital-loc
  include modules/advantage
  include modules/questions
  include modules/ceo2
      
  include modules/comment-all
  include modules/price-slider
  include modules/footer